---
layout: layouts/base.html
title: The Edinburgh Portrait Experience
permalink: "/en/edinburgh-portraits/"
translation: edinburgh-portraits
css: photo-walks
---

<main class="main">
	<section class="section section--top">
		<div class="container">
			<header class="page-header">
				<p class="page-header__category">From Budapest to Edinburgh—Get Your Perfect Portrait This November!</p>
				<div class="page-header">
					<h1 class="page-header__title">The Edinburgh Portrait Experience</h1>
				</div>
			</header>
			<div class="half align-center">
				<article>
					<h2 class="h1">Limited Availability: <br>4th-8th November 2024</h2>
					<p>I’m bringing my portrait services to Edinburgh for just a few days, and this is your chance to capture your best self with a professional, personalized photoshoot! Whether you're after solo portraits or a beautiful couple’s session, this is your opportunity to get unique, timeless photos in the heart of Edinburgh.</p>
					<p class="mb-0"><a class="button" href="#learn-more"><i class="fa-solid fa-fw fa-arrow-down"></i>&nbsp; Explore the Opportunity</a></p>
				</article>
				<div class="hero-portraits">
					<div class="hero-portraits__item hero-portraits__item--left polaroid">
						<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/kata-4/01_700.webp" alt="The Edinburgh Portrait Experience" width="400" height="600">
					</div>
					<div class="hero-portraits__item hero-portraits__item--right polaroid">
						<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/anna-12/01_700.webp" alt="The Edinburgh Portrait Experience" width="400" height="600">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="testimonials">
				{% assign source = testimonials.items %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 0 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 1 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 2 %}
			</div>
		</div>
	</section>

	<section class="section" id="learn-more">
		<div class="container">
			<div class="grid-3-2">
				<article>
					<h2 class="mt-0 mb-2">Who is this for?</h2>
					<p>If you're looking to capture a special moment, update your profile, or simply treat yourself to a fun confidence-boosting experience, this session is for you. Whether you’re after stunning solo portraits or beautiful couple shots, I’ll help you look and feel your best in front of the camera. These photos can be perfect for social media, professional use, or even as thoughtful gifts for loved ones.</p>
					<p>As a visiting photographer, I bring a fresh perspective and unique style to Edinburgh. This is a rare opportunity to get creative and capture portraits that reflect not only the beauty of the city but also your individuality. Limited spots ensure every session gets the attention it deserves, with flexibility to plan and tailor your shoot to your vision.</p>
					<p class="mb-0"><a class="button" href="#contact"><i class="fa-solid fa-fw fa-check"></i>&nbsp; Don’t Miss Out</a></p>
				</article>
				<img class="rotate-5" src="https://rolandszabo.photo/assets/images/bts-9.webp" alt="The Edinburgh Portrait Experience" width="500" height="333" loading="lazy">
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="testimonials">
				{% include 'partials/testimonial.html', type: 'excerpt', id: 3 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 4 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 5 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="mt-0 mb-2">What You’ll Get</h2>
			<ul>
				<li><i class="fa-solid fa-check-circle fa-fw text-highlight"></i>&nbsp; <strong>60-90 Minute Photoshoot:</strong> We’ll shoot at iconic Edinburgh locations like Princes Street or Salisbury Craigs, capturing stunning portraits with breathtaking backdrops.</li>
				<li><i class="fa-solid fa-check-circle fa-fw text-highlight"></i>&nbsp; <strong>15 Professionally Edited Photos:</strong> Choose your favorite 10 photos, and additional ones can be purchased on a per-image basis.</li>
				<li><i class="fa-solid fa-check-circle fa-fw text-highlight"></i>&nbsp; <strong>1 Location, 1 Outfit Change:</strong> You can bring a second outfit to create variety in your gallery.</li>
				<li><i class="fa-solid fa-check-circle fa-fw text-highlight"></i>&nbsp; <strong>Quick Turnaround:</strong> Your photos will be edited and delivered within a week after I return home.</li>
			</ul>

			<h3 class="mt-2">Here's a few of my greatest portraits to get you excited!</h3>
			<div class="fifth">
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/reka-adam-2/01_700.webp" alt="Réka & Ádám" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/mona-gerda/05_700.webp" alt="Gerda" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/eszter-2/01_700.webp" alt="Eszter" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/gabor-2/01_700.webp" alt="Gábor" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/rikarda-krisztian/07_700.webp" alt="Rikarda & Krisztián" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/larae/07_700.webp" alt="LaRae" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/balazs/01_700.webp" alt="Balázs" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/burcu-sebastian/07_700.webp" alt="Burcu & Sebastian" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/blanka-3/06_700.webp" alt="Blanka" width="700" height="1050" loading="lazy">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="https://rolandszabo.photo/assets/images/portraiture/arianna/02_700.webp" alt="Arianna" width="700" height="1050" loading="lazy">
				</span>
			</div>

			<p class="mt-2 mb-0"><a class="button" href="#contact"><i class="fa-solid fa-fw fa-check"></i>&nbsp; Reserve Your Spot Now</a></p>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="testimonials">
				{% include 'partials/testimonial.html', type: 'excerpt', id: 6 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 7 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 8 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="mt-0 mb-2">Why Book with Me?</h2>
			<ul class="fourth">
				<li>
					<img src="https://rolandszabo.photo/assets/images/portraiture/jazmin-beni-2/03_1400.webp" alt="The Edinburgh Portrait Experience" width="700" height="467" loading="lazy">
					<h3>Personal and Flexible</h3>
					<p class="text-smaller">I focus on making sure you're comfortable, capturing your true self with a natural, relaxed approach. Whether you’re looking for solo portraits or a couple’s shoot, we’ll make it personal and fun.</p>
				</li>
				<li>
					<img src="https://rolandszabo.photo/assets/images/portraiture/laura-3/06_1400.webp" alt="The Edinburgh Portrait Experience" width="700" height="467" loading="lazy">
					<h3>A Unique Experience in Edinburgh</h3>
					<p class="text-smaller">We’ll explore the city while we shoot, using Edinburgh’s iconic scenery to create timeless portraits in my signature style. Rain or shine, we’ll create something special.</p>
				</li>
				<li>
					<img src="https://rolandszabo.photo/assets/images/portraiture/blanka-3/04_1400.webp" alt="The Edinburgh Portrait Experience" width="700" height="467" loading="lazy">
					<h3>4 Years of Portrait Experience</h3>
					<p class="text-smaller">With over 4 years of experience and 400+ satisfied clients, I know how to bring out your best in every shot. My goal is to make sure you not only look great but have a fantastic experience.</p>
				</li>
				<li>
					<img src="https://rolandszabo.photo/assets/images/portraiture/adam-4/03_700.webp" alt="The Edinburgh Portrait Experience" width="700" height="467" loading="lazy">
					<h3>Attention to Detail & Flexibility</h3>
					<p class="text-smaller">These shoots require some careful planning, and I’ll work with you to make sure everything goes smoothly. Since I’m organizing multiple sessions back-to-back, some flexibility will be needed, but I’ll personally help solve any questions or challenges ahead of time to make the process stress-free.</p>
				</li>
			</ul>
			<p class="mt-2 mb-0"><a class="button" href="#contact"><i class="fa-solid fa-fw fa-check"></i>&nbsp; Book Your Portrait Session</a></p>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="testimonials">
				{% include 'partials/testimonial.html', type: 'excerpt', id: 9 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 10 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 11 %}
			</div>
		</div>
	</section>

	<section class="section" id="contact">
		<div class="container">
			<article>
				<h2 class="mt-0 mb-2">Ready to Create Something Special?</h2>
				<p class="text-larger">Join me for a fun, easy-going session in the heart of Edinburgh! Whether it’s for a special occasion or just to capture this moment in time, I guarantee you’ll leave with amazing memories and stunning photos to match.</p>
				<div class="summary mt-2">
					<article>
						<h3 class="summary__title h1">Edinburgh Portrait Experience</h3>
						<p class="summary__description">Your initial investment is just £125, which includes a 60-90 minute photoshoot experience and 15 beautifully edited and retouched photos.</p>
						<dl class="summary__list">
							<div class="summary__item">
								<dt class="summary__key">Investment</dt>
								<dd class="summary__value">£125</dd>
							</div>
							<div class="summary__item">
								<dt class="summary__key">Includes</dt>
								<dd class="summary__value">10 photos</dd>
							</div>
							<div class="summary__item">
								<dt class="summary__key">Format <i class="fa-solid fa-question-circle" title="{{ site[locale].format }}"></i></dt>
								<dd class="summary__value">Solo, Couples</dd>
							</div>
							<div class="summary__item">
								<dt class="summary__key">Duration</dt>
								<dd class="summary__value">60-90 minutes</dd>
							</div>
							<div class="summary__item">
								<dt class="summary__key">Location</dt>
								<dd class="summary__value">Downtown Edinburgh</dd>
							</div>
							<div class="summary__item">
								<dt class="summary__key">Outfits</dt>
								<dd class="summary__value">1+1</dd>
							</div>
						</dl>
						<p class="mt-2">Availability is limited to just a few days! Don’t miss your chance for a unique portrait session in Edinburgh. Click below to book your shoot!</p>
						<p><strong class="text-danger"><i class="fas fa-fw fa-exclamation-triangle icon-left"></i> Edit 2024.10.23. <br>Spots are filling up quicker than expected. Only 3 opportunities left.</strong></p>
						<div class="summary__cta">
							<p><a class="button" href="https://www.instagram.com/rolandszabo.photo/"><i class="fa-brands fa-instagram"></i>&nbsp; Chat with Me on Instagram</a></p>
						</div>
					</article>
					<img src="https://rolandszabo.photo/assets/images/portraiture/fruzsi/01_700.webp" alt="Edinburgh Portrait Experience" loading="lazy">
				</div>
			</article>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="testimonials">
				{% include 'partials/testimonial.html', type: 'excerpt', id: 12 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 13 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: 14 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="mt-0 mb-2">FAQs</h2>
			<div class="faqs">
				<details class="faq">
					<summary class="faq__question">How do I book a session?</summary>
					<div class="faq__answer">Simply click the button below to book or send me a message. I’ll follow up with available times and details. <strong>Spots fill up quickly, so make sure to book early!</strong></div>
				</details>
				<details class="faq">
					<summary class="faq__question">What if it rains?</summary>
					<div class="faq__answer">No worries! I’m fully prepared to shoot in any weather, and rainy day portraits can actually look incredible. Let’s embrace the Scottish weather and have fun with it!</div>
				</details>
				<details class="faq">
					<summary class="faq__question">What should I wear?</summary>
					<div class="faq__answer">Bring two outfits if you’d like to change during the shoot. I recommend wearing something that makes you feel confident and comfortable.</div>
				</details>
				<details class="faq">
					<summary class="faq__question">How many photos will I receive?</summary>
					<div class="faq__answer">You’ll get 15 professionally edited photos, with the option to purchase additional ones for £5 each.</div>
				</details>
				<details class="faq">
					<summary class="faq__question">Can I bring someone with me?</summary>
					<div class="faq__answer">Of course! If you’re looking for a couples shoot, feel free to bring your partner -- or your best friend for some fun portraits! Let me know in advance so I can plan accordingly.</div>
				</details>
				<details class="faq">
					<summary class="faq__question">What if my availability is limited?</summary>
					<div class="faq__answer">Since I’m organizing multiple sessions on limited days, we’ll need to be a bit flexible with timing. But don’t worry—I’ll work with you to find a slot that works best and answer any concerns beforehand to make sure everything goes smoothly.</div>
				</details>
			</div>
			<p class="mt-2 mb-0"><a class="button" href="#contact"><i class="fa-solid fa-fw fa-check"></i>&nbsp; Limited Spots &mdash; Book Now</a></p>
		</div>
	</section>
</main>
