---
layout: layouts/base.html
title: Portrait Photography with Vintage Lenses in Budapest
permalink: "/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesVintagePortraiture }}/"
translation: vintage-photo-walks
css: photo-walks
---

<main class="main">
	<section class="section section--top section--border">
		<div class="container">
			<header class="page-header">
				<span class="page-header__category">{{ site[locale].navServices }}</span>
				<h1 class="page-header__title">{{ site[locale].navServicesVintagePortraiture }}</h1>
				<p class="page-header__intro">{{ site[locale].servicesVintagePortraitureIntro }}</p>
			</header>

			<h2>Why Vintage Lenses?</h2>
			<figure class="floating-photo floating-photo--right">
				<img class="floating-photo__photo aspect-ratio-3-2" src="/assets/images/photo-walk-01.webp" alt="Portrait Photo Walks" width="750" height="500">
				<figcaption class="floating-photo__caption"><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/james.acs.tta/" target="_blank" rel="noopener noreferrer">{{ site[locale].csanadAlfoldi }}</a></em></figcaption>
			</figure>
			<p>Modern (i.e. super-expensive) camera lenses are designed to be so perfect that the imperfections that make a photo realistic are almost completely missing. Having close to perfect image quality does result in extreme ease of use, and the end results are consistently flawless. However, the image quality is so sterile and flat that I'm spending hours in post-production to get my images to look 3D again.</p>
			<p>This is where old vintage optics come in to play. They're full of optical flaws which makes photos taken with them alive and animate. Vintage lenses are more difficult to operate: You need to focus every image one-by-one, they are prone to flaring in direct sunlight, they sometimes leave odd spots in the image, and the list goes on. However, the final photos are something that we can be a lot more proud of, because we're really worked for them. Shooting portraits with vintage lenses is about embracing these optical shortcomings and really enabling our creative juices to flow.</p>
		</div>
	</section>

	<section class="section section--white section--border">
		<div class="container">
			<h2>How is a portrait photography session different with vintage lenses?</h2>
			<p>Here's a few things to keep in mind, if you're willing to model for a shoot.</p>
			<figure class="floating-photo floating-photo--right">
				<img class="floating-photo__photo aspect-ratio-3-2" src="/assets/images/photo-walk-05.webp" alt="Portrait Photo Walks" width="750" height="500">
				<figcaption class="floating-photo__caption"><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/danos_photography/" target="_blank" rel="noopener noreferrer">{{ site[locale].danosNemeth }}</a></em></figcaption>
			</figure>
			<ul class="list">
				<li><strong>Every image has to be manually focussed.</strong> My camera has several built-in helping features to assist me in finding the perfect focus, but it still takes time to make sure that the images are as sharp as possible. Because of this, you'll need to hold your mimics and poses for a little longer.</li>
				<li><strong>Images are generally more static.</strong> Because of the manual focusing, we can't accurately capture moving scenes, so manual lenses aren't the go-to option to capture movement in photos.</li>
				<li><strong>We'll need to consider flaring.</strong> Old lenses are highly prone to flaring, when shooting in direct sunlight. While we can use flares creatively, it can make photos unusable very quickly. Because of this, we might need to spend more time finding the best angles according to the sunlight.</li>
			</ul>
			<p>All in all, we could say that shooting with vintage lenses requires some more patience and some respect for older technologies, in order to create unique, soulful photos.</p>
		</div>
	</section>

	<section class="section section--grey section--border">
		<div class="container">
			<h2>Sample Images</h2>
			<p>Here is a selection of some of my favorite vintage portrait photos. If you like the rendering of one of these optics, do let me know when enquiring for a shoot! If you'd like to look at a few photo galleries where I used vintage lenses, click here:</p>
			<p><a class="button" href="/en/tags/vintage-lens/">Vintage Lens Galleries</a></p>
			<div class="masonry">
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/eperke-3.jpg" alt="Eperke × Super-Takumar 1.4/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/polina-2.jpg" alt="Polina × Helios 44-2"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/jazmin.jpg" alt="Jázmin × Helios 44M-4"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/reka-2.jpg" alt="Réka × Helios 44-2"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/lilla.jpg" alt="Lilla × Super-Takumar 1.4/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/kriszti.jpg" alt="Kriszti × Helios 44-2"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/luca-david.jpg" alt="Luca & Dávid × Helios 44-2"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/bianka.jpg" alt="Bianka × Helios 44M-4"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/vivi.jpg" alt="Vivi × CZJ Tessar 2.8/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/jazmin-2.jpg" alt="Jázmin × CZJ Tessar 2.8/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/eperke.jpg" alt="Eperke × CZJ Sonnar 3.5/135"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/reka.jpg" alt="Réka × CZJ Tessar 2.8/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/polina.jpg" alt="Polina × CZJ Tessar 2.8/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/petra.jpg" alt="Petra × Helios 44-2"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/eszter-2.jpg" alt="Eszter × CZJ Sonnar 3.5/135"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/kata.jpg" alt="Kata × Helios 44-2"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/eszter-3.jpg" alt="Eszter × CZJ Tessar 2.8/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/bence.jpg" alt="Bence × CZJ Tessar 2.8/50"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/eszter.jpg" alt="Eszter × Helios 44M-4"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/eperke-2.jpg" alt="Eperke × Helios 44-2"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/vintage/gabcsi.jpg" alt="Gabcsi × CZJ Sonnar 3.5/135"></a>
			</div>
		</div>
	</section>

	<section class="section section--border">
		<div class="container">
			<h2 id="faq">Frequently Asked Questions, Vintage Edition</h2>
			<p>The following questions are specifically applicable to vintage lens portrait shoots. If you haven't done so already, please read my <a href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/#faq">Portraiture FAQ</a> before continuing here.</p>
			<div class="faqs">
				{%- for e in faq.vintagePhotoWalks -%}
					<details class="faq" id="{{ e[locale].id }}">
						<summary class="faq__question">{{ e[locale].question }}</summary>
						<div class="faq__answer">{{ e[locale].answer }}</div>
					</details>
				{%- endfor -%}
			</div>
		</div>
	</section>

	<section class="section section--white section--border">
		<div class="container">
			<h2>Testimonials</h2>
			<ul class="testimonials">
				{% include "partials/testimonial.html", id: 1 %}
				{% include "partials/testimonial.html", id: 2 %}
			</ul>
		</div>
	</section>

	<section class="section">
		<div class="button-with-link">
			<a class="button" href="/{{ locale }}/{{ site[locale].slugContact }}/">Email me to Get Started</a>
			<a class="button-with-link__link" href="/{{ locale }}/{{ site[locale].slugTestimonials }}/">{{ site[locale].homepageVisitTestimonials }}</a>
		</div>
	</section>

	<script src="/assets/js/lightbox.js" defer></script>
	<aside class="lightbox">
		<div class="lightbox__container">
			<figure class="lightbox__figure">
				<img class="lightbox__image" src="" alt="">
				<figcaption class="lightbox__caption"></figcaption>
			</figure>
			<nav class="lightbox__nav">
				<a class="lightbox__arrow" id="left" href="#" title="{{ site[locale].lightboxPreviousPhoto }}">◀</a>
				<a class="lightbox__arrow" id="right" href="#" title="{{ site[locale].lightboxNextPhoto }}">▶</a>
			</nav>
		</div>
		<a class="lightbox__close" href="#" title="{{ site[locale].lightboxClose }}">&times;</a>
	</aside>

	<script src="/assets/js/masonry.js"></script>
	<script>
		var macyInstance = Macy ({
			container: '.masonry',
			mobileFirst: true,
			// trueOrder: true,
			columns: 2,
			margin: 8,
			breakAt: {
				576: {
					columns: 3,
					margin: 10
				},
				768: {
					columns: 4,
					margin: 12,
				},
				992: {
					columns: 5,
					margin: 16
				}
			}
		});
	</script>
</main>
