---
permalink: "/{{ locale }}/{{ site[locale].slugAboutAbout }}/"
layout: layouts/base.html
css: about
---

<main class="main">
	<header class="page-header">
		<h1 class="page-header__title">{{ site[locale].navAboutAbout }}</h1>
	</header>
	<section class="about container">
		<article class="about__content content-box">
			{{ content }}
		</article>
		<figure class="about__photo">
			<img class="about__photo-img" src="/assets/images/roland-about.webp" alt="{{ site[locale].aboutPhotoTitle }}" title="{{ site[locale].aboutPhotoTitle }}" width="740" height="1110">
			<figcaption><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/p_varsics/" target="_blank" rel="noopener noreferrer">{{ site[locale].peterVarsics }}</a></em></figcaption>
		</figure>
	</section>
</main>
