---
permalink: "/{{ locale }}/{{ site[locale].slugAbout }}/"
layout: layouts/base.html
css: about
---

<main class="main">
	<header class="page-header">
		<h1 class="page-header__title">{{ site[locale].navAbout }}</h1>
	</header>
	<section class="about container">
		<article class="about__content content-box">
			{{ content }}
		</article>
		<figure class="about__photo">
			<img src="/assets/images/roland-about.jpg" alt="{{ site[locale].aboutPhotoTitle }}" title="{{ site[locale].aboutPhotoTitle }}">
			<figcaption><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/rohde_photo/" target="_blank" rel="noopener noreferrer">{{ site[locale].csillaRohde }}</a></em></figcaption>
		</figure>
	</section>
</main>
