---
permalink: "/{{ locale }}/{{ site[locale].slugCalendar }}/"
layout: layouts/base.html
css: calendar
---

<main class="main main--calendar">
	<header class="calendar__header">
		<div class="calendar__header-grid">
			<div class="calendar__header-content">
				<h1 class="calendar__title">2023 Photo Calendar</h1>
				<p class="calendar__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
			</div>
			<img class="calendar__header-img" src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
		</div>
	</header>

	<section class="calendar__section">
		<div class="calendar__grid-2">
			<div>
				<h2 class="calendar__subtitle">What's In the Box?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
				<ul class="list">
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
				</ul>
			</div>
			<img src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
		</div>
	</section>

	<section class="calendar__section">
		<h2 class="calendar__subtitle">Samples</h2>
		<div class="calendar__samples">
			<img src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
			<img src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
			<img src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
			<img src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
			<img src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
			<img src="/assets/images/calendar-2023.png" alt="2023 Photo Calendar by Roland Szabó Photography">
		</div>
	</section>

	<section class="calendar__section">
		<h2 class="calendar__subtitle">How to Get it</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		<ul class="calendar__packages">
			<li class="calendar__package">
				<h3>Calendar Package</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
			</li>
			<li class="calendar__package">
				<h3>Supporter Package</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
			</li>
		</ul>
	</section>

	<section class="calendar__section">
		<h2 class="calendar__subtitle">Important Information on Delivery</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		<ul class="list">
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</li>
		</ul>
	</section>
</main>
