---
layout: layouts/base.html
permalink: "/{{ locale }}/{{ site[locale].slugCars }}/"
translation: cars
---

<main class="main">
	<div class="container">
		<header class="page-header">
			<a class="page-header__category" href="/{{ locale }}/">{{ site[locale].backToHomepage }}</a>
			<h1 class="page-header__title">{{ title }}</h1>
			<p class="page-header__description">{{ intro }}</p>
		</header>

		<div class="masonry">
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-1.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-2.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-3.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-4.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-5.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-6.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-7.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-8.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-1.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-2.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-3.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-4.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-5.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-6.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-7.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-8.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-9.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-10.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-11.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-12.jpg" alt="Porsche 944 S2 Coupé [OT]"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-1.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-2.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-3.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-4.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-5.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-6.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-7.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-8.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-1.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-2.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-3.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-4.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-5.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-6.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-7.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-8.jpg" alt="Tesla Model S 100D"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-1.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-2.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-3.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-4.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-5.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-6.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-7.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-8.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-1.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-2.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-3.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-4.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-5.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
			<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-6.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
		</div>
	</div>
</main>

<script src="/assets/js/lightbox.js" defer></script>
<aside class="lightbox">
	<div class="lightbox__container">
		<figure class="lightbox__figure">
			<img class="lightbox__image" src="" alt="">
			<figcaption class="lightbox__caption"></figcaption>
		</figure>
		<nav class="lightbox__nav">
			<a class="lightbox__arrow" id="left" href="#" title="{{ site[locale].lightboxPreviousPhoto }}">◀</a>
			<a class="lightbox__arrow" id="right" href="#" title="{{ site[locale].lightboxNextPhoto }}">▶</a>
		</nav>
	</div>
	<a class="lightbox__close" href="#" title="{{ site[locale].lightboxClose }}">&times;</a>
</aside>

<script src="/assets/js/masonry.js"></script>
<script>
	var macyInstance = Macy ({
		container: '.masonry',
		mobileFirst: true,
		// trueOrder: true,
		columns: 2,
		margin: 8,
		breakAt: {
				576: {
					columns: 3,
					margin: 10
				},
				768: {
					columns: 4,
					margin: 12,
				},
				992: {
					columns: 5,
					margin: 16
				}
			}
	});
</script>
