---
permalink: "/{{ locale }}/{{ site[locale].slugCarPhotography }}/"
layout: layouts/base.html
translation: cars
og_image: https://ik.imagekit.io/rolandszabophoto/cars/huracan-2.jpg
---

<main class="main">
	<div class="container">
		<header class="page-header">
			<h1 class="page-header__title">{{ title }}</h1>
		</header>

		<div class="half">
			<div>
				{{ content }}
			</div>
			<div>
				<div class="polaroid">
					<img class="polaroid__photo" src="/assets/images/bts-cars.webp" alt="{{ title }}">
				</div>
			</div>
		</div>
	</div>

	<section class="section section--white">
		<div class="container">
			<h2 class="mt-0">{{ site[locale].carsGreenGoTitle }}</h2>
			<p>{{ site[locale].carsGreenGoDescription }}</p>
			<div class="bricks">
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-balaton-1.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-balaton-2.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-balaton-3.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-balaton-4.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-torokbalint-1.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-torokbalint-2.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-torokbalint-3.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-torokbalint-4.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-esztergom-1.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-esztergom-2.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-esztergom-3.webp" alt="Kia Niro EV for GreenGo"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/greengo/niro-esztergom-4.webp" alt="Kia Niro EV for GreenGo"></a>
			</div>
			
			<hr>
			<h2>{{ site[locale].carsBeautyShootsTitle }}</h2>
			<p>{{ site[locale].carsBeautyShootsDescription }}</p>
			<div class="bricks">
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-c4s-gt3-1.jpg" alt="Porsche 911 [997.1] Carrera 4S"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-c4s-gt3-2.jpg" alt="Porsche 911 [997.1] Carrera 4S"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-c4s-gt3-5.jpg" alt="Porsche 911 [997.1] Carrera 4S"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-c4s-gt3-6.jpg" alt="Porsche 911 [997.1] Carrera 4S"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-2.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-6.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-8.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-5.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-3.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-1.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-7.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/huracan-4.jpg" alt="Lamborghini Huracán EVO Spyder"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-2.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-3.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-7.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-6.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-5.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-1.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-4.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/944-8.jpg" alt="Porsche 944 S2 Coupé"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-7.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-5.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-1.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-2.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-3.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-4.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-8.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b9-6.jpg" alt="Audi ABT RS5-R Coupé B9.5"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rentben-octavia-1.jpg" alt="Skoda Octavia for Rentben Carsharing"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rentben-octavia-2.jpg" alt="Skoda Octavia for Rentben Carsharing"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rentben-octavia-3.jpg" alt="Skoda Octavia for Rentben Carsharing"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rentben-octavia-4.jpg" alt="Skoda Octavia for Rentben Carsharing"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-1.jpg" alt="Tesla Model S 100D"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-4.jpg" alt="Tesla Model S 100D"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-5.jpg" alt="Tesla Model S 100D"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-2.jpg" alt="Tesla Model S 100D"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-7.jpg" alt="Tesla Model S 100D"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/tesla-8.jpg" alt="Tesla Model S 100D"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-2.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-1.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-3.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-4.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-5.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/rs5-b8-8.jpg" alt="Audi RS5 Coupé B8 4.2l N/A"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-1.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-3.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-5.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/911-6.jpg" alt="Porsche 911 [991.2] Cabriolet"></a>
			</div>

			<hr>
			<h2>{{ site[locale].carsUsedCarsTitle }}</h2>
			<p>{{ site[locale].carsUsedCarsDescription }}</p>
			<div class="bricks">
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-1.jpg" alt="Kia Ceed SW"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-2.jpg" alt="Kia Ceed SW"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-3.jpg" alt="Kia Ceed SW"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-4.jpg" alt="Kia Ceed SW"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-5.jpg" alt="Kia Ceed SW"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-6.jpg" alt="Kia Ceed SW"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-7.jpg" alt="Kia Ceed SW"></a>
				<a class="brick" href="#"><img class="brick__photo" src="https://ik.imagekit.io/rolandszabophoto/cars/kia-ceed-8.jpg" alt="Kia Ceed SW"></a>
			</div>
		</div>
	</div>
</main>

{% include "partials/lightbox.html" %}
