---
permalink: "/{{ locale }}/{{ tags[0] }}/"
layout: layouts/base.html
---

<main class="main">
	<div class="container">
		<header class="page-header">
			<h1 class="page-header__title">{{ title }}</h1>
		</header>
		<div class="gallery">
			{% for post in collections[slug] reversed %}
				<figure class="polaroid">
					<a class="polaroid__square" href="{{ post.url }}">
						<img class="polaroid__photo"
							 srcset="
								/assets/images/portraiture/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_700.webp 700w,
							 	/assets/images/portraiture/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_500.webp 500w,
							 	/assets/images/portraiture/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_350.webp 350w
							 "
							 sizes="(min-width: 1500px) 400px, (min-width: 1000px) calc(25vw - 65px), (min-width: 780px) calc(33.3vw - 65px), calc(50vw - 55px)"
							 src="/assets/images/{{ folder }}/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_350.webp"
							 alt="{{ post.data.title }}"
							 width="350"
							 height="350">
					</a>
					<figcaption class="polaroid__caption">
						<strong class="polaroid__title">{{ post.data.title }}</strong>
					</figcaption>
				</figure>
			{% endfor %}
		</div>

		{% include "partials/cta.html", count: 3 %}
	</div>
</main>
