---
permalink: "/{{ locale }}/{{ tags[0] }}/"
layout: layouts/base.html
---

<main class="main">
	<header class="page-header">
		<a class="page-header__category" href="/{{ locale }}/{{ site[locale].slugGalleries }}/" title="Back to Galleries">{{ site[locale].navGalleries }}</a>
		<h1 class="page-header__title">{{ title }}</h1>
	</header>
	<div class="gallery">
		{% for post in collections[slug] reversed %}
		<a class="polaroids" href="{{ post.url }}">
			<figure class="polaroid">
				<div class="polaroid__square">
					{% case slug %}
						{% when "portré", "portraiture" %}
						{% assign folder = "portraiture" %}
						{% when "autó", "automotive" %}
						{% assign folder = "automotive" %}
						{% when "közösségi-tartalom", "social-content" %}
						{% assign folder = "social-content" %}
					{% endcase %}
					<img class="polaroid__photo" src="/assets/images/{{ folder }}/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}.jpg" alt="{{ post.data.title }}">
				</div>
				<figcaption class="polaroid__caption">
					<strong class="polaroid__title">{{ post.data.title }}</strong>
				</figcaption>
			</figure>
		</a>
		{% endfor %}
	</div>
	<div class="cta">
		<div>
			<h2 class="cta__title">{{ site[locale].ctaTitle }}</h2>
			<p>{{ site[locale].ctaText }}</p>
			<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/">{{ site[locale].ctaButton }}</a>
		</div>
		<!-- <blockquote class="cta__quote">
			<p class="cta__quote-text">{{ testimonials.getItems[0][locale].text }}</p>
			<cite class="cta__quote-cite">
				<img class="cta__quote-image" src="{{ testimonials.getItems[0].photo }}" alt="{{ testimonials.getItems[0][locale].name }} fotója">
				<a href="{{ testimonials.getItems[0][locale].link }}">{{ testimonials.getItems[0][locale].name }}</a>
			</cite>
		</blockquote> -->
	</div>
</main>

<script>

</script>
