---
permalink: "/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesEvents }}/"
layout: layouts/base.html
translation: events
og_image: https://ik.imagekit.io/rolandszabophoto/events/birthday-2.webp
---

<main class="main">
	<header class="page-header">
		<div class="container">
			<h1 class="page-header__category">{{ site[locale].navServicesEvents }}</h1>
			<p class="page-header__title h1">{{ title }}</p>
		</div>
	</header>

	<section class="section section--top">
		<div class="container">
			<div class="half align-center">
				<div>{{ content }}</div>
				<figure class="polaroid">
					<img class="polaroid__photo" src="https://ik.imagekit.io/rolandszabophoto/events/wedding-4.webp" alt="{{ title }}" title="{{ title }}">
				</figure>
			</div>
		</section>
	</section>

	<section class="section section--white" id="work">
		<div class="container">
			<h3 class="mt-0 mb-1">Válogatott munkáim</h3>
			<div class="gallery">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/authentic-piknik-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/authentic-piknik-1.webp" alt="Authentic Piknik 1" title="Authentic Piknik 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/authentic-piknik-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/authentic-piknik-2.webp" alt="Authentic Piknik 2" title="Authentic Piknik 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/authentic-piknik-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/authentic-piknik-3.webp" alt="Authentic Piknik 3" title="Authentic Piknik 3">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-1.webp" alt="Bartok Feszt 1" title="Bartok Feszt 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-2.webp" alt="Bartok Feszt 2" title="Bartok Feszt 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-3.webp" alt="Bartok Feszt 3" title="Bartok Feszt 3">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-4.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/bartok-feszt-4.webp" alt="Bartok Feszt 4" title="Bartok Feszt 4">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/birthday-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/birthday-1.webp" alt="Birthday 1" title="Birthday 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/birthday-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/birthday-2.webp" alt="Birthday 2" title="Birthday 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/birthday-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/birthday-3.webp" alt="Birthday 3" title="Birthday 3">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/catering.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/catering.webp" alt="Catering" title="Catering">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/exhibition-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/exhibition-1.webp" alt="Exhibition 1" title="Exhibition 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/exhibition-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/exhibition-2.webp" alt="Exhibition 2" title="Exhibition 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-1.webp" alt="Iiimagine 1" title="Iiimagine 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-2.webp" alt="Iiimagine 2" title="Iiimagine 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-3.webp" alt="Iiimagine 3" title="Iiimagine 3">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-4.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/iiimagine-4.webp" alt="Iiimagine 4" title="Iiimagine 4">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/libri-star-wars-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/libri-star-wars-1.webp" alt="Libri Star Wars 1" title="Libri Star Wars 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/libri-star-wars-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/libri-star-wars-2.webp" alt="Libri Star Wars 2" title="Libri Star Wars 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/mol-limo-budapart.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/mol-limo-budapart.webp" alt="MOL Limo Budapart" title="MOL Limo Budapart">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/open-mic.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/open-mic.webp" alt="Open Mic" title="Open Mic">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/painter.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/painter.webp" alt="Painter" title="Painter">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/pinceszinhaz-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/pinceszinhaz-1.webp" alt="Pinceszinhaz 1" title="Pinceszinhaz 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/pinceszinhaz-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/pinceszinhaz-2.webp" alt="Pinceszinhaz 2" title="Pinceszinhaz 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/szalagavato-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/szalagavato-1.webp" alt="Szalagavato 1" title="Szalagavato 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/szalagavato-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/szalagavato-2.webp" alt="Szalagavato 2" title="Szalagavato 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/wedding-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/wedding-1.webp" alt="Wedding 1" title="Wedding 1">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/wedding-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/wedding-2.webp" alt="Wedding 2" title="Wedding 2">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/wedding-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/wedding-3.webp" alt="Wedding 3" title="Wedding 3">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/wedding-4.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/wedding-4.webp" alt="Wedding 4" title="Wedding 4">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/wedding-5.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/wedding-5.webp" alt="Wedding 5" title="Wedding 5">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/events/wedding-6.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/events/wedding-6.webp" alt="Wedding 6" title="Wedding 6">
			</div>
			<div class="text-center">
				<a class="button" href="/{{ locale }}/{{ site[locale].slugAboutContact }}/">{{ site[locale].navAboutContact }}</a>
			</div>
		</div>
	</section>
</main>

{% include "partials/lightbox.html" %}
