---
layout: layouts/base.html
permalink: "/{{ locale }}/{{ site[locale].slugExperiences }}/{{ slug }}/"
css: photo-walks
---

<main class="main">
	<section class="section section--top">
		<div class="container">
			<header class="page-header">
				<h1 class="page-header__category">{{ site[locale].navExperiencesCategory }}</h1>
				<p class="page-header__title h1">{{ experiences[experience][locale].name }}</p>
			</header>
			<div class="half">
				<div>
					<h2>{{ experiences[experience][locale].heroTitle }}</h2>
					<p>{{ experiences[experience][locale].heroTagline }}</p>
					<p class="mb-0"><a class="button" href="#contact"><i class="fas fa-fw fa-arrow-down"></i>&nbsp; {{ experiences[experience][locale].heroButtonText }}</a></p>
				</div>
				<div class="hero-portraits">
					<div class="hero-portraits__item hero-portraits__item--left polaroid">
						<img class="polaroid__photo" src="/assets/images/services/{{ translation }}-1.webp" alt="{{ site[locale].navServicesPortraiture }}">
					</div>
					<div class="hero-portraits__item hero-portraits__item--right polaroid">
						<img class="polaroid__photo" src="/assets/images/services/{{ translation }}-2.webp" alt="{{ site[locale].navServicesPortraiture }}">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% assign source = testimonials.items %}
				{% include 'partials/testimonial-excerpt.html', id: 0 %}
				{% include 'partials/testimonial-excerpt.html', id: 1 %}
				{% include 'partials/testimonial-excerpt.html', id: 2 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="half">
				<div>
					{% include 'partials/photo-grid.html' %}
				</div>
				<div>
					<h2 class="mt-0 mb-2">{{ experiences[experience][locale].experienceTitle }}</h2>
					<p>{{ experiences[experience][locale].experienceText }}</p>
					<p class="mb-0"><a class="button" href="#"><i class="fas fa-fw fa-check"></i>&nbsp; {{ experiences[experience][locale].experienceButtonText }}</a></p>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% assign source = testimonials.items %}
				{% include 'partials/testimonial-excerpt.html', id: 3 %}
				{% include 'partials/testimonial-excerpt.html', id: 4 %}
				{% include 'partials/testimonial-excerpt.html', id: 5 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2>{{ experiences[experience][locale].whatsIncludedTitle }}</h2>
			<p>{{ experiences[experience][locale].whatsIncludedText1 }}</p>
			<p>{{ experiences[experience][locale].whatsIncludedText2 }}</p>
			<div class="third">
				<span class="polaroid">
					<img class="polaroid__photo" src="/assets/images/portraiture/kata-3/02_700.webp" alt="Photo of Kata" width="700" height="1050">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="/assets/images/portraiture/kata-3/03_700.webp" alt="Photo of Kata" width="700" height="1050">
				</span>
				<span class="polaroid">
					<img class="polaroid__photo" src="/assets/images/portraiture/kata-3/04_700.webp" alt="Photo of Kata" width="700" height="1050">
				</span>
			</div>
			<p class="mt-2 mb-0"><a class="button" href="#"><i class="fas fa-fw fa-check"></i>&nbsp; {{ experiences[experience][locale].whatsIncludedButtonText }}</a></p>
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% assign source = testimonials.items %}
				{% include 'partials/testimonial-excerpt.html', id: 6 %}
				{% include 'partials/testimonial-excerpt.html', id: 7 %}
				{% include 'partials/testimonial-excerpt.html', id: 8 %}
			</div>
		</div>
	</section>

	<section class="section" id="contact">
		<div class="experience-contact container">
			<article>
				<h2>{{ site[locale].whosBehindTitle }}</h2>
				<p>{{ site[locale].whosBehindText1 }}</p>
				<p>{{ site[locale].whosBehindText2 }}</p>
				<p>{{ site[locale].whosBehindText3 }}</p>
				<p>{{ site[locale].whosBehindText4 }}</p>
				<hr>
				{% include 'partials/contact-options.html' %}
			</article>
			<img src="/assets/images/roland-home.webp" alt="{{ site[locale].homePhotoTitle }}" title="{{ site[locale].homePhotoTitle }}">
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% assign source = testimonials.items %}
				{% include 'partials/testimonial-excerpt.html', id: 9 %}
				{% include 'partials/testimonial-excerpt.html', id: 10 %}
				{% include 'partials/testimonial-excerpt.html', id: 11 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="mb-2">{{ site[locale].otherWaysTitle }}</h2>
			<div class="plans plans--two">
				{% for i in experiences %}
					{% if i[0] != experience %}
						<div class="plan">
							<h3 class="plan__title">{{ i[1][locale].name }}</h3>
							<p>{{ i[1][locale].pricing.description }}</p>
							<p class="text-center mb-0">
								<a class="button" href="/{{ locale }}/{{ site[locale].slugExperiences }}/{{ i[1][locale].slug }}">{{ site[locale].otherWaysLearnMore }}</a>
							</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
</main>
