---
layout: layouts/base.html
css: landing-page
---

<main class="main">
	<header class="fancy-page-header fancy-page-header--{{ headerClass }}">
		<div class="container">
			<h1 class="page-header__category">{{ hero.h1 }}</h1>
			<p class="page-header__title h1">{{ hero.title }}</p>
			<p class="page-header__text">{{ hero.text1 }}</p>
			<p class="page-header__text">{{ hero.text2 }}</p>
			<a class="button mt-2" href="#more"><i class="fas fa-arrow-down icon-left"></i>&nbsp; See How</a>
			<p><small>{{ hero.trustline }}</small></p>
		</div>
	</header>

	<section class="section section--new" id="more">
		<div class="container">
			<h2>{{ uses.title }}</h2>
			<p>{{ uses.intro }}</p>
			<div class="grid-2-1">
				<ul class="list mb-0">
					{% for item in uses.items %}
						<li><strong>{{ item.title }}</strong> {{ item.text }}</li>
					{% endfor %}
				</ul>
				{% assign source = testimonials.items | where: "type", type %}
				<div class="testimonials testimonials--horizontal">
					{% for item in source limit:2 %}
						{% include "partials/testimonial.html", type: "excerpt", id: forloop.index0 %}
					{% endfor %}
				</div>
			</div>
			<p class="emphasized"><strong>{{ uses.ctaTitle }}</strong> <a href="#start">{{ uses.ctaTextLink }}</a> {{ uses.ctaText }}</p>
		</div>
	</section>

	<section class="section section--new">
		<div class="container">
			<h2>{{ steps.title }}</h2>
			<ol class="list">
				{% for item in steps.items %}
					<li><strong>{{ item.title }}</strong> {{ item.text }}</li>
				{% endfor %}
			</ol>
		</div>
	</section>

	<section class="section section--new">
		<div class="container">
			<h2>{{ gallery.title }}</h2>
			<p>{{ gallery.intro }}</p>
			<div class="third">
				{% for item in gallery.items %}
					<div class="polaroid polaroid--large">
						<img class="polaroid__photo" src="{{ item.image }}" alt="{{ item.title }}" title="{{ item.title }}">
						<span class="polaroid__title polaroid__title">{{ item.description }}</span>
					</div>
				{% endfor %}
			</div>
			{% if gallery.more %}
				<div class="mb-2 text-center">
					<a class="button" href="{{ gallery.moreLink }}">{{ gallery.more }}</a>
				</div>
			{% endif %}
		</div>
	</section>

	<section class="section section--new">
		<div class="container">
			<h2>{{ why.title }}</h2>
			<p>{{ why.intro }}</p>
			<ul class="list">
				{% for item in why.items %}
					<li><strong>{{ item.title }}</strong> {{ item.text }}</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="section section--new">
		<div class="container">
			<h2>{{ testimonials.title }}</h2>
			<p>{{ testimonials.intro }}</p>
			{% assign source = testimonials.items | where: "type", type %}
			<div class="testimonials">
				{% for item in source limit:6 offset:2 %}
					{% assign plustwo = forloop.index0 | plus: 2 %}
					{% include "partials/testimonial.html", type: "excerpt", id: plustwo %}
				{% endfor %}
			</div>
			<p>{{ testimonials.ctaText }} <a href="#start">{{ testimonials.ctaLink }}</a></p>
		</div>
	</section>

	<section class="section section--new" id="start">
		<div class="container">
			<h2>{{ packages.title }}</h2>
			<p>{{ packages.text }}</p>
			<div class="packages">
				{% if packages.photogenicDiscovery %}
					<div class="package package--photogenic">
						<i class="package__icon fas fa-stopwatch"></i>
						<h3 class="package__name">{{ site[locale].photogenicDiscovery }}</h3>
						<p class="package__text">{{ packages.photogenicDiscovery }}</p>
						<ul class="tags">
							<li class="tag tag__link">{{ site[locale].photogenicDiscoveryDuration }}</li>
							<li class="tag tag__link">{{ site[locale].photogenicDiscoveryPhotos }}</li>
							<li class="tag tag__link">{{ site[locale].photogenicDiscoveryLocations }}</li>
							<li class="tag tag__link">{{ site[locale].photogenicDiscoveryOutfits }}</li>
						</ul>
					</div>
				{% endif %}
				<div class="package package--full">
					<i class="package__icon fas fa-dove"></i>
					<h3 class="package__name">{{ site[locale].theFullExperience }}</h3>
					<p class="package__text">{{ packages.fullExperience }}</p>
					<ul class="tags">
							<li class="tag tag__link">{{ site[locale].theFullExperienceDuration }}</li>
							<li class="tag tag__link">{{ site[locale].theFullExperiencePhotos }}</li>
							<li class="tag tag__link">{{ site[locale].theFullExperienceLocations }}</li>
							<li class="tag tag__link">{{ site[locale].theFullExperienceOutfits }}</li>
						</ul>
				</div>
			</div>
			<p>{{ packages.cta }}</p>
			<div class="buttons mt-1 mb-0">
				<a class="button" href="mailto:hi@rolandszabo.photo"><i class="fa-solid fa-envelope icon-left"></i>&nbsp; {{ site[locale].contactEmailButton }}</a>
				<a class="button" href="https://www.instagram.com/rolandszabo.photo/"><i class="fa-brands fa-instagram icon-left"></i>&nbsp; {{ site[locale].contactInstagramButton }}</a>
			</div>
		</div>
	</section>

	<section class="section section--new">
		<div class="container">
			<h2>{{ faqs.title }}</h2>
			<p>{{ faqs.intro }}</p>
			<div class="faqs">
				{% for item in faqs.items %}
					<details class="faq">
						<summary class="faq__question">{{ item.title }}</summary>
						<div class="faq__answer">{{ item.text }}</div>
					</details>
				{% endfor %}
			</div>
			<p>{{ faqs.ctaText }} <a href="#start">{{ faqs.ctaLink }}</a></p>
		</div>
	</section>
</main>
