---
permalink: "/{{ locale }}/{{ site[locale].slugGalleries }}/"
layout: layouts/base.html
---

<main class="main">
	<header class="page-header">
		<h1 class="page-header__title">{{ site[locale].navGalleries }}</h1>
	</header>
	<div class="gallery gallery--galleries container">
		<a class="polaroids" href="/{{ locale }}/{{ site[locale].slugGalleriesPortraiture }}/">
			<figure class="polaroid">
				<div class="polaroid__square">
					<img class="polaroid__photo"
						 srcset="
						 	/assets/images/portraiture/eszter-2/01_700.webp 700w,
						 	/assets/images/portraiture/eszter-2/01_500.webp 500w,
						 	/assets/images/portraiture/eszter-2/01_350.webp 350w,
						 	/assets/images/portraiture/eszter-2/01_200.webp 200w
						 "
				 		 sizes="(min-width: 1500px) 664px, calc(50vw - 40px)"
						 src="/assets/images/portraiture/eszter-2/01_200.webp"
						 alt="{{ site[locale].navPortraitWorks }}"
						 width="700"
						 height="1050">
				</div>
				<figcaption class="polaroid__caption">
					<strong class="polaroid__title">{{ site[locale].navPortraitWorks }}</strong>
				</figcaption>
			</figure>
		</a>
	</div>
</main>
