---
permalink: "/{{ locale }}/{{ site[locale].slugGalleries }}/"
layout: layouts/base.html
---

<main class="main">
	<header class="page-header">
		<h1 class="page-header__title">{{ site[locale].navGalleries }}</h1>
	</header>
	<div class="gallery gallery--galleries">
		<a class="polaroids" href="/{{ locale }}/{{ site[locale].slugGalleriesPortraiture }}/">
			<figure class="polaroid">
				<div class="polaroid__square">
					<img class="polaroid__photo"
						 srcset="
						 	/assets/images/portraiture/eszter-2/01_700.webp 700w,
						 	/assets/images/portraiture/eszter-2/01_500.webp 500w,
						 	/assets/images/portraiture/eszter-2/01_350.webp 350w,
						 	/assets/images/portraiture/eszter-2/01_200.webp 200w
						 "
				 		 sizes="(min-width: 1500px) 664px, calc(50vw - 40px)"
						 src="/assets/images/portraiture/eszter-2/01_200.webp"
						 alt="{{ site[locale].navGalleriesPortraiture }}">
				</div>
				<figcaption class="polaroid__caption">
					<strong class="polaroid__title">{{ site[locale].navGalleriesPortraiture }}</strong>
				</figcaption>
			</figure>
		</a>
		<a class="polaroids" href="/{{ locale }}/{{ site[locale].slugGalleriesSocialContent }}/">
			<figure class="polaroid">
				<div class="polaroid__square">
					<img class="polaroid__photo"
						 srcset="
						 	/assets/images/social-content/aqua-toria/07_700.webp 700w,
						 	/assets/images/social-content/aqua-toria/07_500.webp 500w,
						 	/assets/images/social-content/aqua-toria/07_350.webp 350w,
						 	/assets/images/social-content/aqua-toria/07_200.webp 200w
						 "
				 		 sizes="(min-width: 1500px) 664px, calc(50vw - 40px)"
						 src="/assets/images/social-content/aqua-toria/07_200.webp"
						 alt="{{ site[locale].navGalleriesSocialContent }}">
				</div>
				<figcaption class="polaroid__caption">
					<strong class="polaroid__title">{{ site[locale].navGalleriesSocialContent }}</strong>
				</figcaption>
			</figure>
		</a>
		<a class="polaroids" href="/{{ locale }}/{{ site[locale].slugGalleriesAutomotive }}/">
			<figure class="polaroid">
				<div class="polaroid__square">
					<img class="polaroid__photo"
						 srcset="
						 	/assets/images/automotive/rs5-b8/07_700.webp 700w,
						 	/assets/images/automotive/rs5-b8/07_500.webp 500w,
						 	/assets/images/automotive/rs5-b8/07_350.webp 350w,
						 	/assets/images/automotive/rs5-b8/07_200.webp 200w
						 "
				 		 sizes="(min-width: 1500px) 664px, calc(50vw - 40px)"
						 src="/assets/images/automotive/rs5-b8/07_200.webp"
						 alt="{{ site[locale].navGalleriesAutomotive }}">
				</div>
				<figcaption class="polaroid__caption">
					<strong class="polaroid__title">{{ site[locale].navGalleriesAutomotive }}</strong>
				</figcaption>
			</figure>
		</a>
	</div>
</main>
