---
layout: layouts/base.html
css: gallery
---

<main class="main">
	<header class="page-header">
		<a class="page-header__category" href="/{{ locale }}/{{ tags[0] | replace: 'é', 'e' | replace: 'ó', 'o' | replace: 'ö', 'o' }}/" title="Back to {{ tags[0] | split: '-' | join: ' ' | capitalize }}">{{ tags[0] | split: "-" | join: " " | capitalize }}</a>
		<h1 class="page-header__title">{{ title }}</h1>
		<ul class="tags">
			{% assign tagsies = tags | slice: 1, tags.size %}
			{% for tag in tagsies %}
				<li class="tag">
					<a class="tag__link" href="/{{ locale }}/tags/{{ tag }}/">{{ tag }}</a>
				</li>
			{% endfor %}
		</ul>
	</header>
	<div class="gallery gallery--single">
		{{ content }}
	</div>
	<div class="cta">
		<div>
			<h2 class="cta__title">{{ site[locale].ctaTitle }}</h2>
			<p>{{ site[locale].ctaText }}</p>
			<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/">{{ site[locale].ctaButton }}</a>
		</div>
		<blockquote class="cta__quote">
			<p class="cta__quote-text">{{ testimonials.getItems[0][locale].text }}</p>
			<cite class="cta__quote-cite">
				<img class="cta__quote-image" src="{{ testimonials.getItems[0].photo }}" alt="{{ testimonials.getItems[0][locale].name }} fotója">
				<a href="{{ testimonials.getItems[0][locale].link }}">{{ testimonials.getItems[0][locale].name }}</a>
			</cite>
		</blockquote>
	</div>
</main>
