---
layout: layouts/base.html
---

<main class="main">
	<div class="container">
		<header class="page-header{% if intro %} page-header--has-intro{% endif %}">
			<a class="page-header__category" href="/{{ locale }}/{{ tags[0] | replace: 'é', 'e' | replace: 'ó', 'o' | replace: 'ö', 'o' }}/" title="Back to {{ tags[0] | split: '-' | join: ' ' | capitalize }}">{{ tags[0] | split: "-" | join: " " | capitalize }}</a>
			<h1 class="page-header__title">{{ title }}</h1>
			<ul class="tags{% unless intro %} tags--center{% endunless %}">
				{% assign tagsies = tags | slice: 1, tags.size %}
				{% for tag in tagsies %}
					<li class="tag">
						<a class="tag__link" href="/{{ locale }}/tags/{{ tag }}/">{{ tag }}</a>
					</li>
				{% endfor %}
			</ul>
			<p class="page-header__description">{{ intro }}</p>
		</header>

		{% if imNotPhotogenic %}
			<div class="gallery gallery--3">
		{% else %}
			<div class="gallery gallery--single">
		{% endif %}
			{{ content }}
		</div>

		{% include "partials/cta.html", count: 3 %}
	</div>
</main>
