---
permalink: "/{{ locale }}/{{ site[locale].slugGear }}/"
layout: layouts/base.html
css: contact
---

<main class="main">
	<header class="page-header">
		<h1 class="page-header__title">{{ site[locale].navGear }}</h1>
	</header>
	<section class="contact container">
		<article class="contact__content content-box">
			{{ content }}
		</article>
		<figure class="contact__photo">
			<img class="contact__photo-img" src="/assets/images/roland-gear.webp" alt="{{ site[locale].gearPhotoTitle }}" title="{{ site[locale].gearPhotoTitle }}" width="740" height="1110">
			<figcaption><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/danos_photography/" target="_blank" rel="noopener noreferrer">{{ site[locale].danosNemeth }}</a></em></figcaption>
		</figure>
	</section>
</main>
