---
permalink: "/{{ locale }}/"
layout: layouts/base.html
css: home
---

<link rel="preload" fetchpriority="high" as="image" href="/assets/images/home/portraiture.webp" type="image/webp">
<link rel="preload" fetchpriority="high" as="image" href="/assets/images/home/automotive.webp" type="image/webp">
<link rel="preload" fetchpriority="high" as="image" href="/assets/images/home/social.webp" type="image/webp">

<main class="main home">
	<section class="section">
		<div class="container">
			<header class="page-header page-header--home">
				<h1 class="home__title">{{ site[locale].homepageMainTitle }}</h1>
			</header>
			<nav class="home-nav">
				<ul class="home-nav__list">
					<li class="home-nav__item">
						<a class="home-nav__link home-nav__link--portrait" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugPortraitPhotography }}/">
							<span class="home-nav__link-text">{{ site[locale].homepageNavPortrait }}</span>
						</a>
					</li>
					<li class="home-nav__item">
						<a class="home-nav__link home-nav__link--automotive" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugCarPhotography }}/">
							<span class="home-nav__link-text">{{ site[locale].homepageNavAutomotive }}</span>
						</a>
					</li>
					<li class="home-nav__item">
						<a class="home-nav__link home-nav__link--social" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugSocialPhotography }}/">
							<span class="home-nav__link-text">{{ site[locale].homepageNavSocial }}</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>

	<section class="section section--white">
		<div class="home-about container">
			<div>
				{{ content }}
				<div class="button-with-link">
					<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugPortraitPhotography }}/"><i class="fa-solid fa-circle-right"></i>&nbsp; {{ site[locale].ctaButton }}</a>
					<a class="button-with-link__link" href="/{{ locale }}/{{ site[locale].slugAbout }}/">{{ site[locale].homepageVisitAbout }}</a>
				</div>
			</div>
			<img src="/assets/images/roland-about.webp" alt="{{ site[locale].homePhotoTitle }}" title="{{ site[locale].homePhotoTitle }}" width="740" height="1110" loading="lazy">
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="text-center mt-0">{{ site[locale].homepageRecentTitle }}</h2>
			<div class="gallery">
				{% assign index = 0 %}

				{% if locale == "en" %}
					{% assign portraitsies = collections.portraiture | reverse | slice: 0,4 %}
				{% elsif locale == "hu" %}
					{% assign portraitsies = collections.portré | reverse | slice: 0,4 %}
				{% endif %}

				{% for post in portraitsies %}
					<figure class="polaroid">
						<a class="polaroid__square" href="{{ post.url }}">
							<img class="polaroid__photo"
								 srcset="
									/assets/images/portraiture/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_700.webp 700w,
								 	/assets/images/portraiture/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_500.webp 500w,
								 	/assets/images/portraiture/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_350.webp 350w
								 "
								 sizes="(min-width: 1500px) 400px, (min-width: 1000px) calc(25vw - 65px), (min-width: 780px) calc(33.3vw - 65px), calc(50vw - 55px)"
								 src="/assets/images/portraiture/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}_350.webp"
								 alt="{{ post.data.title }}"
								 width="350"
								 height="350"
								 loading="lazy">
						</a>
						<figcaption class="polaroid__caption">
							<strong class="polaroid__title">{{ post.data.title }}</strong>
						</figcaption>
					</figure>
				{% endfor %}
			</div>
			<div class="button-with-link">
				<a class="button" href="/{{ locale }}/{{ site[locale].slugGalleriesPortraiture }}/"><i class="fa-solid fa-circle-right"></i>&nbsp; {{ site[locale].latestButton }}</a>
				<a class="button-with-link__link" href="/{{ locale }}/{{ site[locale].slugAbout }}/">{{ site[locale].homepageVisitAbout }}</a>
			</div>
		</div>
	</section>

	<section class="section section--grey">
		<div class="container">
			<h2 class="text-center mt-0">{{ site[locale].homepageTestimonials }}</h2>
			<div class="testimonials">
				{% assign source = testimonials.items %}
				{% for item in source limit:3 %}
					{% include 'partials/testimonial.html', type: 'excerpt', id: forloop.index0 %}
				{% endfor %}
			</div>

			<div class="button-with-link">
				<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugPortraitPhotography }}/"><i class="fa-solid fa-circle-right"></i>&nbsp; {{ site[locale].ctaButton }}</a>
				<a class="button-with-link__link" href="/{{ locale }}/{{ site[locale].slugTestimonials }}/">{{ site[locale].homepageVisitTestimonials }} ({{ testimonials.items.length }})</a>
			</div>
		</div>
	</section>
</main>
