---
permalink: "/{{ locale }}/"
layout: layouts/base.html
css: home
---

<main class="main home">
	<section class="section section--top section--border">
		<div class="container">
			<header class="page-header">
				<h1 class="home__title">{{ site[locale].homepageMainTitle }}</h1>
			</header>
			<nav class="home-nav">
				<ul class="home-nav__list">
					<li class="home-nav__item">
						<a class="home-nav__link home-nav__link--female" href="/{{ locale }}/{{ site[locale].slugFemalePortraits }}/">
							<span class="home-nav__link-text">{{ site[locale].homepageFemalePortraits }}</span>
						</a>
					</li>
					<li class="home-nav__item">
						<a class="home-nav__link home-nav__link--male" href="/{{ locale }}/{{ site[locale].slugMalePortraits }}/">
							<span class="home-nav__link-text">{{ site[locale].homepageMalePortraits }}</span>
						</a>
					</li>
					<li class="home-nav__item">
						<a class="home-nav__link home-nav__link--couple" href="/{{ locale }}/{{ site[locale].slugCouplePortraits }}/">
							<span class="home-nav__link-text">{{ site[locale].homepageCouplePortraits }}</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="button-with-link">
				<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/">{{ site[locale].homepageButton }}</a>
				<a class="button-with-link__link" href="#latest">{{ site[locale].homepageVisitLatest }}</a>
			</div>
		</div>
	</section>

	<section class="section section--white section--border">
		<div class="container">
			<h2 class="home__title text-center mt-0">{{ site[locale].homepageTestimonials }}</h2>
			{% include "partials/cta-latest.html" %}
		</div>
	</section>

	<section class="section">
		<div class="home-about container">
			<div>
				{{ content }}
				<div class="button-with-link">
					<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/">{{ site[locale].homepageButton }}</a>
					<a class="button-with-link__link" href="/{{ locale }}/{{ site[locale].slugAbout }}/">{{ site[locale].homepageVisitAbout }}</a>
				</div>
			</div>
			<figure>
				<img src="/assets/images/roland-home.jpg" alt="{{ site[locale].homePhotoTitle }}" title="{{ site[locale].homePhotoTitle }}">
				<figcaption><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/p_varsics/" target="_blank" rel="noopener noreferrer">{{ site[locale].peterVarsics }}</a></em></figcaption>
			</figure>
		</div>
	</section>

	<script src="/assets/js/lightbox.js" defer></script>
	<aside class="lightbox">
		<div class="lightbox__container">
			<figure class="lightbox__figure">
				<img class="lightbox__image" src="" alt="">
				<figcaption class="lightbox__caption"></figcaption>
			</figure>
			<nav class="lightbox__nav">
				<a class="lightbox__arrow" id="left" href="#" title="{{ site[locale].lightboxPreviousPhoto }}">◀</a>
				<a class="lightbox__arrow" id="right" href="#" title="{{ site[locale].lightboxNextPhoto }}">▶</a>
			</nav>
		</div>
		<a class="lightbox__close" href="#" title="{{ site[locale].lightboxClose }}">&times;</a>
	</aside>

	<script src="/assets/js/masonry.js"></script>
	<script>
		var macyInstance = Macy ({
			container: '.masonry',
			mobileFirst: true,
			// trueOrder: true,
			columns: 2,
			margin: 10,
			breakAt: {
				992: {
					columns: 3,
					margin: 16
				}
			}
		});
	</script>
</main>
