---
permalink: "/{{ locale }}/{{ site[locale].slugGalleriesPortraiture }}/"
layout: layouts/base.html
---

<main class="main">
	<header class="page-header">
		<a class="page-header__category" href="/{{ locale }}/{{ site[locale].slugGalleries }}/" title="Back to Galleries">{{ site[locale].navGalleries }}</a>
		<h1 class="page-header__title">{{ title }}</h1>
	</header>
	<div class="gallery">
		{% for post in collections[slug] reversed %}
		<a class="polaroids" href="{{ post.url }}">
			<figure class="polaroid">
				<div class="polaroid__square">
					<img class="polaroid__photo" src="/assets/images/{{ slug }}/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}.jpg" alt="{{ post.data.title }}">
				</div>
				<figcaption class="polaroid__caption">
					<strong class="polaroid__title">{{ post.data.title }}</strong>
				</figcaption>
			</figure>
		</a>
		{% endfor %}
	</div>
</main>
