---
permalink: "/{{ locale }}/{{ site[locale].slugPortfolio }}/"
layout: layouts/base.html
css: portfolio
---

<main class="main">
	<header class="page-header">
		<h1>{{ site[locale].navPortfolio }}</h1>
	</header>
	<div class="portfolio">
		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/kata-2.jpg" alt="" title="">
		</a>
		<a class="portfolio__link wide" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/gellert-hill-sunset.jpg" alt="" title="">
		</a>
		<span class="portfolio__stack">
			<a class="portfolio__link" href="#">
				<img class="portfolio__image" src="/assets/images/portfolio/911.jpg" alt="" title="">
			</a>
			<a class="portfolio__link" href="#">
				<img class="portfolio__image" src="/assets/images/portfolio/dalma.jpg" alt="" title="">
			</a>
		</span>

		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/lovers-under-the-umbrella.jpg" alt="" title="">
		</a>
		<span class="portfolio__stack">
			<a class="portfolio__link" href="#">
				<img class="portfolio__image" src="/assets/images/portfolio/vivi.jpg" alt="" title="">
			</a>
			<a class="portfolio__link" href="#">
				<img class="portfolio__image" src="/assets/images/portfolio/outlook-sunset.jpg" alt="" title="">
			</a>
		</span>
		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/luca-david.jpg" alt="" title="">
		</a>

		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/sheyina.jpg" alt="" title="">
		</a>
		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/daniella.jpg" alt="" title="">
		</a>
		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/tamara.jpg" alt="" title="">
		</a>
		<a class="portfolio__link wide" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/viki.jpg" alt="" title="">
		</a>

		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/kata-mira.jpg" alt="" title="">
		</a>
		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/virag.jpg" alt="" title="">
		</a>
		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/kata.jpg" alt="" title="">
		</a>
		<a class="portfolio__link" href="#">
			<img class="portfolio__image" src="/assets/images/portfolio/budapart-mol-limo.jpg" alt="" title="">
		</a>
	</div>

	<div class="lightbox">
		<div class="lightbox__container">
			<img class="lightbox__image" src="" alt="">
			<nav class="lightbox__nav">
				<a class="lightbox__arrow" id="prev" href="#">◀</a>
				<a class="lightbox__arrow" id="next" href="#">▶</a>
			</nav>
		</div>
		<a class="lightbox__close" href="#">&times;</a>
	</div>

	<script src="/assets/js/lightbox.js" defer></script>
</main>
