---
permalink: "/{{ locale }}/{{ tags[0] }}/"
layout: layouts/base.html
---

<main class="main">
	<header class="page-header">
		<a class="page-header__category" href="/{{ locale }}/{{ site[locale].slugGalleries }}/" title="Back to Galleries">{{ site[locale].navGalleries }}</a>
		<h1 class="page-header__title">{{ title }}</h1>
	</header>

	{% include "partials/cta.html" %}

	<script src="/assets/js/masonry.js"></script>
	<script>
		var masonry = Macy({
			container: ".masonry",
			mobileFirst: true,
			columns: 2,
			breakAt: {
				768: {
					columns: 3
				},
				1200: {
					columns: 4
				}
			},
			margin: 16,
			cancelLegacy: true
		});
	</script>
</main>
