---
permalink: "/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesRealEstate }}/"
layout: layouts/base.html
translation: real-estate
og_image: https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-2.webp
---

<main class="main">
	<header class="page-header">
		<div class="container">
			<h1 class="page-header__category">{{ site[locale].navServicesRealEstate }}</h1>
			<p class="page-header__title h1">{{ title }}</p>
		</div>
	</header>

	<section class="section section--top">
		<div class="container">
			<div class="half align-center">
				<div>{{ content }}</div>
				<figure class="polaroid">
					<img class="polaroid__photo" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-3.webp" alt="{{ title }}" title="{{ title }}">
				</figure>
			</div>
		</section>
	</section>

	<section class="section section--white" id="work">
		<div class="container">
			<h3 class="mt-0 mb-1">Jégcsap utca 4.</h3>
			<div class="gallery">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-1.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-2.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-3.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-4.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-4.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-5.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-5.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-6.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-6.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-7.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-7.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-8.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-8.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-9.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-9.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-10.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-10.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-11.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-11.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-12.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-jegcsap-12.webp" alt="Jégcsap utca 4." title="Jégcsap utca 4.">
			</div>

			<hr class="hr-xl">

			<h3 class="mt-0 mb-1">Fő utca 24.</h3>
			<div class="gallery">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-1.webp" alt="Fő utca 24." title="Fő utca 24.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-2.webp" alt="Fő utca 24." title="Fő utca 24.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-3.webp" alt="Fő utca 24." title="Fő utca 24.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-4.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-fo-4.webp" alt="Fő utca 24." title="Fő utca 24.">
			</div>

			<hr class="hr-xl">

			<h3 class="mt-0 mb-1">Kiss József utca 2.</h3>
			<div class="gallery">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-1.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-1.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-2.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-2.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-3.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-3.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-4.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-4.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-5.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-5.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-6.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-6.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-7.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-7.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-8.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-8.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-9.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-9.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-10.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-10.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-11.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-11.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
				<img class="lightbox-enabled" src="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-12.webp" data-lightbox="https://ik.imagekit.io/rolandszabophoto/real-estate/real-estate-kiss-jozsef-12.webp" alt="Kiss József utca 2." title="Kiss József utca 2.">
			</div>
			<div class="text-center">
				<a class="button" href="/{{ locale }}/{{ site[locale].slugAboutContact }}/">{{ site[locale].navAboutContact }}</a>
			</div>
		</div>
	</section>
</main>

{% include "partials/lightbox.html" %}
