---
permalink: "/{{ locale }}/{{ site[locale].slugTestimonials }}/"
layout: layouts/base.html
---

<main class="main">
	<header class="page-header">
		<h1 class="page-header__title">{{ site[locale].navTestimonials }}</h1>
	</header>
	<section class="container">
		{{ content }}

		<div class="cta">
			<div class="cta__content">
				<h2 class="cta__title">{{ site[locale].ctaTitle }}</h2>
				<p class="cta__text">{{ site[locale].ctaText }}</p>
				<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugPortraitPhotography }}/">{{ site[locale].ctaButton }}</a>
			</div>
		</div>
	</section>
</main>
