---
layout: layouts/base.html
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /{{ locale }}/tags/{{ tag }}/
translation: tagsEn
---

<main class="main">
	{% if page.url == "/hu/tags/all/" %}
		<header class="page-header">
			<span class="page-header__category">Címkék</span>
			<h1 class="page-header__title">Összes Címke</h1>
		</header>
		<ul class="tags">
			{% for tag in collections.tagList %}
				<li class="tag">
					<a class="tag__link" href="/{{ locale }}/tags/{{ tag }}/">{{ tag }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<header class="page-header">
			<span class="page-header__category">Címke</span>
			<h1 class="page-header__title">{{ tag | capitalize }}</h1>
		</header>
		<div class="gallery">
			{% assign tagsies = collections[tag] %}
			{% for post in tagsies reversed %}
				{% assign slug = post.data.page.filePathStem | split: '/' %}
				{% case slug[2] %}
					{% when "portre", "portraiture" %}
					{% assign folder = "portraiture" %}
					{% when "auto", "automotive" %}
					{% assign folder = "automotive" %}
					{% when "kozossegi-tartalom", "social-content" %}
					{% assign folder = "social-content" %}
				{% endcase %}
				<a class="polaroids" href="{{ post.url }}">
					<figure class="polaroid">
						<div class="polaroid__square">
							<img class="polaroid__photo" src="/assets/images/{{ folder }}/{{ post.data.page.fileSlug }}/{{ post.data.cover | default: '01' }}.jpg" alt="{{ post.data.title }}">
						</div>
						<figcaption class="polaroid__caption">
							<strong class="polaroid__title">{{ post.data.title }}</strong>
						</figcaption>
					</figure>
				</a>
			{% endfor %}
		</div>
	{% endif %}
</main>
