---
permalink: "/{{ locale }}/"
layout: layouts/base.html
css: home
---

<link rel="preload" as="image" href="/assets/images/home/hero-portraiture.webp" imagesizes="100vw" imagesrcset="/assets/images/home/hero-portraiture--mobile.webp 768w, /assets/images/home/hero-portraiture.webp 1600w" />

<main class="main home">
	<header class="hero container container--wide">
		<article class="slide slide--active">
			<div class="slide__content">
				<h2 class="slide__title">{{ hero.portraiture.title }}</h2>
				<p class="slide__description">{{ hero.portraiture.tagline }}</p>
				<a class="button" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesPortraiture }}/">{{ hero.portraiture.button }}</a>
			</div>
			<div class="slide__image">
				<picture>
					<source srcset="/assets/images/home/hero-portraiture--mobile.webp" media="(max-width: 767.98px)">
					<img src="/assets/images/home/hero-portraiture.webp" srcset="/assets/images/home/hero-portraiture--mobile.webp 768w, /assets/images/home/hero-portraiture.webp 1600w" sizes="100vw" width="1600" height="800" alt="{{ hero.portraiture.alt | default: 'Portré fotózás' }}" fetchpriority="high" loading="eager" decoding="async"
					>
				</picture>
			</div>
		</article>
		<article class="slide">
			<div class="slide__content">
				<h2 class="slide__title">{{ hero.automotive.title }}</h2>
				<p class="slide__description">{{ hero.automotive.tagline }}</p>
				<a class="button" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesAutomotive }}/">{{ hero.automotive.button }}</a>
				</div>
				<div class="slide__image">
					<picture>
						<source srcset="/assets/images/home/hero-automotive--mobile.webp" media="(max-width: 767.98px)">
						<img src="/assets/images/home/hero-automotive.webp" srcset="/assets/images/home/hero-automotive--mobile.webp 768w, /assets/images/home/hero-automotive.webp 1600w" sizes="100vw"  width="1600" height="800" alt="{{ hero.automotive.alt | default: 'Autó fotózás' }}" fetchpriority="high" decoding="async"
						>
					</picture>
				</div>
			</div>
		</article>
		<article class="slide">
			<div class="slide__content">
				<h2 class="slide__title">{{ hero.events.title }}</h2>
				<p class="slide__description">{{ hero.events.tagline }}</p>
				<a class="button" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesEvents }}/">{{ hero.events.button }}</a>
				</div>
				<div class="slide__image">
					<picture>
						<source srcset="/assets/images/home/hero-events--mobile.webp" media="(max-width: 767.98px)">
						<img src="/assets/images/home/hero-events.webp" srcset="/assets/images/home/hero-events--mobile.webp 768w, /assets/images/home/hero-events.webp 1600w" sizes="100vw"  width="1600" height="800" alt="{{ hero.events.alt | default: 'Rendezvény fotózás' }}" decoding="async">
					</picture>
				</div>
			</div>
		</article>
		<article class="slide">
			<div class="slide__content">
				<h2 class="slide__title">{{ hero.real-estate.title }}</h2>
				<p class="slide__description">{{ hero.real-estate.tagline }}</p>
				<a class="button" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesRealEstate }}/">{{ hero.real-estate.button }}</a>
				</div>
				<div class="slide__image">
					<picture>
						<source srcset="/assets/images/home/hero-real-estate--mobile.webp" media="(max-width: 767.98px)">
						<img src="/assets/images/home/hero-real-estate.webp" srcset="/assets/images/home/hero-real-estate--mobile.webp 768w, /assets/images/home/hero-real-estate.webp 1600w" sizes="100vw"  width="1600" height="800" alt="{{ hero.real-estate.alt | default: 'Ingatlan fotózás' }}" decoding="async">
					</picture>
				</div>
			</div>
		</article>
		<div class="pagination">
			<button class="dot dot--active" aria-label="Slide 1" aria-current="true"></button>
			<button class="dot" aria-label="Slide 2"></button>
			<button class="dot" aria-label="Slide 3"></button>
			<button class="dot" aria-label="Slide 4"></button>
		</div>
	</header>

	<section class="section section--white about">
		<div class="container">
			<header class="about__header">
				<img
					class="about__image"
					src="/assets/images/roland-home.webp"
					srcset="
						/assets/images/roland-home--mobile.webp 200w,
						/assets/images/roland-home.webp 400w
					"
					sizes="(max-width: 768px) 200px, 400px"
					width="400"
					height="400"
					alt="Roland"
				>
				<div>
					<h2>{{ about.title }}</h2>
					<p>{{ about.intro }}</p>
					<p class="mb-0">{{ about.text }}</p>
				</div>
			</header>
			<hr class="fancy-separator fancy-separator--white">
			<div class="about__grid">
				<article>
					<h3 class="about__subtitle">{{ about.photographer.title }}</h3>
					<p>{{ about.photographer.text }}</p>
				</article>
				<article>
					<h3 class="about__subtitle">{{ about.professional.title }}</h3>
					<p>{{ about.professional.text }}</p>
				</article>
				<article>
					<h3 class="about__subtitle about__subtitle--serif">{{ about.human.title }}</h3>
					<p>{{ about.human.text }}</p>
				</article>
			</div>
			<div class="btns text-center mt-2">
				<a class="button button--primary" href="#start">{{ about.button1 }}</a>
				<a class="button button--secondary" href="/{{ locale }}/{{ site[locale].slugAboutAbout }}/">{{ about.button2 }}</a>
			</div>
		</div>
	</section>

	<section class="section" id="start">
		<div class="container">
			<h2>{{ services.title }}</h2>
			<p>{{ services.intro }}</p>
			<div class="home-services">
				{% for item in services.items %}
					<article class="home-service">
						<img
							class="home-service__image"
							src="{{ item.image }}"
							srcset="
								{{ item.image-mobile }} 400w,
								{{ item.image }} 750w"
							sizes="(max-width: 420px) 100vw, 750px"
							alt="{{ item.title }}"
							width="750" height="500"
							loading="lazy" decoding="async"
						>
						<div class="home-service__content">
							<h3 class="home-service__title">{{ item.title }}</h3>
							<p class="home-service__intro"><em>{{ item.intro }}</em></p>
							<p class="home-service__text">{{ item.text }}</p>
							<ul class="home-service__tags tags">
								<li class="tag tag__link">{{ item.tag1 }}</li>
								<li class="tag tag__link">{{ item.tag2 }}</li>
								<li class="tag tag__link">{{ item.tag3 }}</li>
							</ul>
							<a class="button" href="{{ item.buttonLink }}">{{ item.buttonText }}</a>
						</div>
					</article>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="section section--white gift">
		<div class="gift__grid container">
			<article class="gift__content">
				<div class="mb-1">
					<span class="tag tag__link tag__link--green">
						<i class="fas fa-gift icon-left"></i>
						{{ gift.label }}
					</span>
				</div>
				<h2>{{ gift.title }}</h2>
				<p>{{ gift.text1 }}</p>
				<p>{{ gift.text2 }}</p>
				<a class="button" href="{{ gift.href }}">{{ gift.button }}</a>
			</article>
			<img class="gift__image" src="/assets/images/home/voucher.webp" alt="{{ gift.title }}" width="700" height="300">
		</div>
	</section>

	<section class="section">
		<div class="container home-testimonials">
			<h2 class="home-testimonials__title">{{ testimonials.title }}</h2>
			<p>{{ testimonials.text }}</p>
			<div class="testimonials testimonials--home">
				{% assign source = testimonials.items %}
				{% for item in source limit:9 %}
					{% include 'partials/testimonial.html', type: 'excerpt', id: forloop.index0 %}
				{% endfor %}
			</div>
			<div class="btns text-center mt-2">
				<a class="button button--primary" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/">{{ testimonials.button1 }}</a>
				<a class="button button--secondary" href="/{{ locale }}/{{ site[locale].slugAboutTestimonials }}/">{{ testimonials.button2 }}</a>
			</div>
		</div>
	</section>
</main>

<script src="/assets/js/home-slider.js" defer></script>

{% include "partials/lightbox.html" %}
