---
permalink: "/{{ locale }}/"
layout: layouts/base.html
css: home
---

<link rel="preload" fetchpriority="high" as="image" href="/assets/images/home/hero-portraiture.webp" type="image/webp">
<link rel="preload" fetchpriority="high" as="image" href="/assets/images/home/hero-automotive.webp" type="image/webp">

<main class="main home">
	<div class="container container--home">
		<header class="hero">
			<h1 class="hero__title">{{ hero.title }}</h1>
			<p class="hero__description">{{ hero.tagline }}</p>
			<div class="buttons">
				<a class="hero__button button" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesPortraiture }}/">{{ hero.button1 }}</a>
				<a class="hero__button button" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesAutomotive }}/">{{ hero.button2 }}</a>
			</div>
			<div class="hero__background hero__background--portraiture"></div>
			<div class="hero__background hero__background--automotive"></div>
		</header>
	</div>
</main>

<section class="section section--white">
	<div class="container home-about">
		<h2 class="home-about__title">{{ about.title }}</h2>
		<p class="home-about__intro"><strong>{{ about.intro }}</strong></p>
		<article class="home-about__main">
			<p>{{ about.text1 }}</p>
			<p>{{ about.text2 }}</p>
			<p>{{ about.text3 }}</p>
		</article>
		<div class="home-about__button">
			<a class="button button--secondary" href="/{{ locale }}/{{ site[locale].slugAboutAbout }}/">{{ about.button }}</a>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<h2>{{ gallery.title }}</h2>
		<div class="portfolio portfolio--portraiture">
			{% assign sortedPortfolio = portfolio-portraiture | sort: "date" | sort: "priority" | reverse %}
			{% for image in sortedPortfolio limit:10 %}
				{% include "partials/portfolio-image.html", image: image %}
			{% endfor %}
		</div>
		<div class="buttons mt-2">
			<a class="button" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesPortraiture }}/">{{ gallery.button1 }}</a>
			<a class="button button--secondary" href="/{{ locale }}/{{ site[locale].slugPortfolioPortraiture }}/">{{ gallery.button2 }}</a>
		</div>
	</div>
</section>

<section class="section section--white">
	<div class="container">
		<h2>{{ services.title }}</h2>
		<p>{{ services.intro }}</p>
		<div class="home-services half">
			{% for item in services.items %}
				<article class="home-service">
					<h3 class="home-service__title"><i class="{{ item.icon }}"></i> {{ item.title }}</h3>
					<p class="home-service__intro"><em>{{ item.intro }}</em></p>
					<p class="home-service__text">{{ item.text }}</p>
					<ul class="home-service__tags tags">
						<li class="tag tag__link">{{ item.tag1 }}</li>
						<li class="tag tag__link">{{ item.tag2 }}</li>
						<li class="tag tag__link">{{ item.tag3 }}</li>
					</ul>
					<div class="home-service__button">
						<a class="button" href="{{ item.buttonLink }}">{{ item.buttonText }}</a>
					</div>
				</article>
			{% endfor %}
		</div>
	</div>
</section>

<section class="section">
	<div class="container home-about">
		<h2 class="home-about__title">{{ testimonials.title }}</h2>
		<div class="home-about__intro">
			<p><strong>{{ testimonials.text1 }}</strong> {{ testimonials.text2 }}</p>
			<p>{{ testimonials.text3 }}</p>
		</div>
		<div class="home-about__main testimonials testimonials--home">
			{% assign source = testimonials.items %}
			{% for item in source limit:6 %}
				{% include 'partials/testimonial.html', type: 'excerpt', id: forloop.index0 %}
			{% endfor %}
		</div>
	</div>
</section>

{% include "partials/lightbox.html" %}
