.gallery {
	display: grid;
	grid-gap: 2rem;
}

.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vw - 2rem);
	border: 0;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	background-color: #FFF;
}

.photo__image {
	display: block;
	padding: .75rem;
}

.single {
	display: block;
	height: auto;
	box-shadow: none;
}

.single__photo {
	padding: .5rem;
	background-color: #FFF;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.single__caption {
	margin-bottom: 2rem;
}

.single__title {
	display: block;
	margin-bottom: 1.5rem;
	font-family: var(--serif);
	font-size: 1.75rem;
	color: var(--text-dark);
}

.details {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: .5rem 2rem;
	align-items: baseline;
	color: var(--text);
}

.details__key {
	font-weight: 400;
	font-size: .875rem;
	letter-spacing: -.25px;
	text-transform: uppercase;
}

@media only screen and (min-width: 576px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}

	.photo {
		height: calc(50vw - 2rem);
	}

	.single {
		height: auto;
	}

	.single__photo {
		padding: 1rem;
	}
}

@media only screen and (min-width: 992px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}

	.photo {
		height: calc(33.333vw - 2rem);
	}

	.single {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 2rem;
	}

	.single__caption {
		grid-template-columns: 1fr;
	}

	.single__title {
		margin-top: 0;
	}

	.single__photo {
		justify-self: end;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.details {
		grid-template-columns: 1fr;
		grid-gap: .25rem;
	}

	.details__value {
		margin-bottom: 1rem;
	}
}

@media only screen and (min-width: 1200px) {
	.single__photo {
		padding: 1.5rem;
	}
}
