.gallery {
	display: grid;
	grid-gap: 1rem;
}

.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vw - 2rem);
	border: 0;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	background-color: #FFF;
}

.photo:hover .photo__image,
.photo:focus .photo__image {
	padding: .5rem;
}

.photo__image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding: .75rem;
	transition: padding .1s;
}

@media only screen and (min-width: 576px) {
	.gallery { grid-template-columns: repeat(2, 1fr); }

	.photo {
		width: calc(50vw - 2.5rem);
		height: calc(50vw - 2.5rem);
	}
}

@media only screen and (min-width: 768px) {
	.gallery { grid-gap: 2rem; }

	.photo {
		width: calc(50vw - 3rem);
		height: calc(50vw - 3rem);
	}
}

@media only screen and (min-width: 992px) {
	.gallery { grid-template-columns: repeat(3, 1fr); }

	.photo {
		width: calc(33.333vw - 2.667rem);
		height: calc(33.333vw - 2.667rem);
	}
}

@media only screen and (min-width: 1920px) {
	.gallery { grid-gap: 4rem; }

	.photo {
		width: 36rem;
		height: 36rem;
	}
}
