.homepage {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.homepage-photo {
	border: 0;
}

.homepage-photo__figure {
	overflow: hidden;
	position: relative;
}

.homepage-photo__image {
	display: block;
}

.homepage-photo__caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: .5rem;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .0675rem;
	text-shadow: 0 .125rem .5rem #000, 0 .25rem 2rem #000;
}

@media only screen and (min-width: 992px) {
	.main { display: flex; }

	.homepage {
		flex-grow: 1;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;
	}

	.homepage-photo__figure {
		height: 100%;
	}

	.homepage-photo__image {
		height: 100%;
		object-fit: cover;
	}

	.homepage-photo__caption {
		opacity: 0;
		letter-spacing: 1rem;
		transition: opacity .3s, letter-spacing .3s;
	}

	.homepage-photo:hover .homepage-photo__caption,
	.homepage-photo:focus .homepage-photo__caption {
		opacity: 1;
		letter-spacing: .25rem;
	}
}
