.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	text-align: center;
}

@media only screen and (max-width: 767.98px) {
	.hero {
		padding: 15vw 0;
	}
}

@media only screen and (min-width: 768px) {
	.hero {
		padding: 10vw 0;
	}
}

.hero__title {
	margin-bottom: .5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	font-family: var(--sans);
	font-weight: 700;
	color: #FFF;
	letter-spacing: -.5px;
	text-shadow: 0 .1rem .25rem rgba(0,0,0,1), 0 0rem 1rem rgba(0,0,0,.75);
}

.hero__description {
	margin-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	color: #FFF;
	text-shadow: 0 .1rem .25rem rgba(0,0,0,1), 0 0rem .5rem rgba(0,0,0,.5);
}

@media only screen and (max-width: 767.98px) {
	.hero__description {
		font-size: 1.25rem;
		letter-spacing: -.4px;
	}
}

@media only screen and (min-width: 768px) {
	.hero__description {
		font-size: 1.5rem;
		letter-spacing: -.5px;
	}
}

.hero__button {
	min-width: 12.5rem;
}

.hero__background {
	position: absolute;
	z-index: -1;
	opacity: .9;
	background-position: center;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 767.98px) {
	.hero__background--portraiture {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-image: url('/assets/images/home/hero-portraiture.webp');
	}
}

@media only screen and (min-width: 768px) {
	.hero__background {
		top: 0;
		bottom: 0;
	}

	.hero__background--portraiture {
		left: 0;
		right: 50%;
		background-image: url('/assets/images/home/hero-portraiture.webp');
	}

	.hero__background--automotive {
		left: 50%;
		right: 0;
		background-image: url('/assets/images/home/hero-automotive.webp');
	}
}

.home-about {
	display: grid;
	justify-items: start;
}

@media only screen and (min-width: 768px) {
	.home-about {
		grid-template-rows: auto auto 1fr;
		grid-template-columns: 1fr 2fr;
		grid-gap: 0 4rem;
	}

	.home-about__title {
		grid-row: 1;
		grid-column: 1;
	}

	.home-about__intro {
		grid-row: 2;
		grid-column: 1;
	}

	.home-about__button {
		grid-row: 3;
		grid-column: 1;
	}

	.home-about__main {
		grid-row: 1 / 4;
		grid-column: 2;
	}
}

.home-services {
	display: grid;
	margin-top: 2.5rem;
}

@media only screen and (max-width: 767.98px) {
	.home-services {
		grid-gap: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	.home-services {
		grid-gap: 3rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

.home-service {
	display: grid;
}

.home-service__title {
	margin-top: 0;
	font-family: var(--sans);
	font-weight: 700;
	margin-bottom: 1.25rem;
	padding-bottom: 1rem;
	border-bottom: .25rem solid var(--highlight);
}

.home-service__intro {
	margin-bottom: 1rem;
}

.home-service__tags {
	margin-top: 0;
	margin-bottom: 1rem;
}

.testimonials--home {
	grid-gap: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
	.testimonials--home {
		grid-template-columns: 1fr;
	}
}

@media only screen and (min-width: 1200px) {
	.testimonials--home {
		grid-template-columns: repeat(3, 1fr);
	}
}
