.section { padding-top: 0; }

.fancy-page-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: stretch;
	min-height: 75vh;
	margin-bottom: 4rem;
	padding: 4rem 0;
	color: #FFF;
	text-shadow: 0 .1rem .1rem rgba(0,0,0,.5);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@media only screen and (max-width: 767.98px) {
	.fancy-page-header {
		background-position: 90% center;
	}
}

.fancy-page-header:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%);
}

.fancy-page-header .container {
	position: relative;
	z-index: 1;
}

.fancy-page-header--home         { background-image: url('/assets/images/experiences/home.webp'); }
.fancy-page-header--male         { background-image: url('/assets/images/experiences/male.webp'); }
.fancy-page-header--female       { background-image: url('/assets/images/experiences/female.webp'); }
.fancy-page-header--couple       { background-image: url('/assets/images/experiences/couple.webp'); }
.fancy-page-header--family       { background-image: url('/assets/images/experiences/family.webp'); }
.fancy-page-header--best-friends { background-image: url('/assets/images/experiences/best-friends.webp'); }
.fancy-page-header--maternity    { background-image: url('/assets/images/experiences/maternity.webp'); }
.fancy-page-header--engagement   { background-image: url('/assets/images/experiences/engagement.webp'); }
.fancy-page-header--brand        { background-image: url('/assets/images/experiences/brand.webp'); }
.fancy-page-header--creative     { background-image: url('/assets/images/experiences/creative.webp'); }
.fancy-page-header--headshots    { background-image: url('/assets/images/experiences/headshots.webp'); }
.fancy-page-header--pets         { background-image: url('/assets/images/experiences/pets.webp'); }
.fancy-page-header--automotive   { background-image: url('/assets/images/experiences/automotive.webp'); }

.fancy-page-header .page-header__title {
	margin-bottom: 3rem;
	color: #FFF;
	text-shadow: 0 .1rem .1rem rgba(0,0,0,.5), 0 .1rem 1rem rgba(0,0,0,.25);
}

@media only screen and (min-width: 992px) {
	.fancy-page-header .page-header__text {
		max-width: 50%;
	}
}

.fancy-page-header .page-header__category {
	color: var(--bg);
}

.floating-photo {
	margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
	.floating-photo {
		width: 40%;
	}

	.floating-photo--left {
		float: left;
		margin-right: 3rem;
	}

	.floating-photo--right {
		float: right;
		margin-left: 3rem;
	}
}

.floating-photo__photo {
	display: block;
	aspect-ratio: 3/2;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 0;
}

.plans {
	display: grid;
	align-items: start;
	grid-gap: 2rem;
}

@media only screen and (min-width: 992px) {
	.plans {
		grid-template-columns: repeat(3, 1fr);
	}

	.plans--two {
		grid-template-columns: repeat(2, 1fr);
	}
}

.plan {
	color: var(--text);
	background-color: #FFF;
	box-shadow: 0 .25rem 1rem 0 rgba(0,0,0,.25);
}

.plan:hover,
.plan:focus {
	color: var(--text);
}

.plan__image {
	display: block;
}

.plan__title {
	margin: 2rem 2rem 1rem;
	font-size: 2rem;
	text-align: center;
}

.plan__description {
	margin-left: 2rem;
	margin-right: 2rem;
}

.plan__image {
	display: block;
	margin: 0 auto;
}

@media only screen and (min-width: 500px) and (max-width: 991.98px) {
	.plan__image--with-margin {
		margin-top: 1.5rem;
	}
}

.plan__price-amount {
	display: block;
	margin-left: 2rem;
	margin-right: 2rem;
	font-family: var(--serif);
	font-weight: 400;
	font-size: 1.6rem;
	color: var(--text-dark);
	letter-spacing: -1px;
}

@media only screen and (min-width: 1200px) {
	.plan__price-amount {
		font-size: 2rem;
		letter-spacing: -1.5px;
	}
}

.plan__details {
	margin: 0 2rem 2rem;
}

.hero-portraits {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	margin-bottom: 2rem;
}

.hero-portraits__item {
	padding: 1rem;
}

.hero-portraits__item--left {
	position: relative;
	left: 1.5rem;
	transform: rotate(-3deg);
}

.hero-portraits__item--right {
	position: relative;
	top: 3rem;
	right: 1.5rem;
	transform: rotate(3deg);
}

.summary {
	display: grid;
	grid-gap: 2rem;
	align-items: center;
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: #FFF;
	border-left: .5rem solid var(--highlight);
	box-shadow: 0 .25rem 1rem rgba(0,0,0,.25);
}

@media only screen and (min-width: 992px) {
	.summary {
		grid-template-columns: 3fr 2fr;
		grid-gap: 4rem;
	}
}

.summary__list {
	display: grid;
	grid-gap: 1rem;
}

@media only screen and (min-width: 576px) { .summary__list { grid-template-columns: repeat(2, 1fr); } }
@media only screen and (min-width: 768px) { .summary__list { grid-template-columns: repeat(3, 1fr); } }

.summary__title {
	margin-top: 0;
	margin-bottom: 1rem;
}

.summary__description {
	margin-bottom: 2rem;
}

.summary__key {
	font-weight: 300;
	font-size: .875rem;
	letter-spacing: 0;
	text-transform: uppercase;
}

.summary__value {
	font-family: var(--serif);
	font-size: 1.75rem;
	color: var(--text-dark);
	letter-spacing: -.75px;
}

.summary__cta {
	margin-top: 2rem;
	margin-bottom: 0;
}
