.how-it-works {
	counter-reset: item;
}

.how-it-works__item + .how-it-works__item {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid var(--bg-dark);
}

.how-it-works__title {
	margin-top: 0;
	margin-bottom: 1rem;
}

.how-it-works__title:before {
	content: counter(item);
	counter-increment: item;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	margin-right: .5rem;
	font-family: var(--sans);
	font-weight: 700;
	line-height: 1;
	border-radius: 1.5rem;
	color: #FFF;
	background-color: var(--highlight);
}

.floating-photo {
	margin-bottom: 1rem;
	color: var(--bg-dark);
	background-color: var(--text-dark);
}

.floating-photo__photo {
	display: block;
}

.floating-photo__caption {
	padding: .75rem 1rem;
	font-size: .875rem;
	text-align: center;
	line-height: 1;
}

.faqs {
	display: grid;
	grid-gap: .625rem;
	align-items: start;
}

.faq {
	background-color: #FFF;
}

.faq__question {
	cursor: pointer;
	padding: .625rem 1rem;
	font-weight: 700;
	border-bottom: 1px solid var(--bg);
	transition: color var(--transition-duration);
}

.faq__question:hover,
.faq__question:focus {
	color: var(--accent);
}

.faq__answer {
	padding: .75rem 1rem;
}

.vintage-promo {
	margin-top: 2rem;
	padding: 1rem;
	border: 1px solid var(--bg-dark);
	border-top: .375rem solid var(--highlight);
	border-radius: var(--border-radius);
	background-color: #FFF;
}

.vintage-promo__title {
	margin: .75rem 0 1rem;
}

.vintage-promo__image-link {
	border: 0;
}

.blurbs {
	display: grid;
	grid-gap: 2rem;
	margin-top: 2rem;
}

@media only screen and (min-width: 576px) { .blurbs { grid-template-columns: repeat(2, 1fr); } }
@media only screen and (min-width: 992px) { .blurbs { grid-template-columns: repeat(3, 1fr); } }

.blurb {
	border-radius: .5rem;
	background-color: #FFF;
	box-shadow: 0 1rem 2rem 0 rgba(0,0,0,.1);
}

.blurb__image {
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}

.blurb__title {
	margin-bottom: 1rem;
	font-family: var(--sans);
	font-weight: 700;
	padding: 0 1rem;
}

.blurb__text {
	margin-bottom: 0;
	padding: 0 1rem 2rem;
}

@media only screen and (min-width: 576px) {
	.blurb__title,
	.blurb__text {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media only screen and (min-width: 992px) {
	.blurb__title,
	.blurb__text {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.vintage-promos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}

	.steps {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 3rem;
	}

	.step__title {
		font-size: 1.25rem;
		letter-spacing: -.5px;
	}

	.step__text {
		font-size: 1.125rem;
	}

	.floating-photo {
		width: 40%;
	}

	.floating-photo--left {
		float: left;
		margin-right: 2rem;
	}

	.floating-photo--right {
		float: right;
		margin-left: 2rem;
	}

	.faqs {
		grid-template-columns: repeat(2, 1fr);
	}

	.faq,
	.faq p,
	.faq li {
		font-size: 1rem;
	}

	.faq ul {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.vintage-promo {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 1200px) {
	.faq,
	.faq p,
	.faq li {
		font-size: 1.125rem;
	}

	.vintage-promo {
		grid-template-columns: 350px 1fr;
	}
}
