.floating-photo {
	margin-bottom: 1rem;
	color: var(--bg-dark);
	background-color: var(--text-dark);
}

@media only screen and (min-width: 768px) {
	.floating-photo {
		width: 40%;
	}

	.floating-photo--left {
		float: left;
		margin-right: 2rem;
	}

	.floating-photo--right {
		float: right;
		margin-left: 2rem;
	}
}

.floating-photo__photo {
	display: block;
	aspect-ratio: 3/2;
}

.floating-photo__caption {
	padding: .75rem 1rem;
	font-size: .875rem;
	text-align: center;
	line-height: 1;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 0;
}

.plans {
	display: grid;
	align-items: start;
	grid-gap: 2rem;
	margin-bottom: 3rem;
}

@media only screen and (min-width: 992px) {
	.plans {
		grid-template-columns: repeat(3, 1fr);
	}

	.plans--two {
		grid-template-columns: repeat(2, 1fr);
	}
}

.plan {
	padding: 2rem;
	border-top: .5rem solid var(--highlight);
	background-color: #FFF;
	box-shadow: 0 .25rem 1rem 0 rgba(0,0,0,.25);
}

.plan__title {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	text-align: center;
}

.plan__image {
	display: block;
	margin: 0 auto;
}

.plan__price-starts {
	padding: .5rem 1rem;
	font-weight: 700;
	font-size: .875rem;
	line-height: 1;
	text-transform: uppercase;
	border-radius: .5rem;
	background-color: var(--bg);
}

.plan__price-amount {
	display: block;
	font-family: var(--serif);
	font-weight: 400;
	font-size: 3rem;
	color: var(--text-dark);
	letter-spacing: -1px;
}

.hero-portraits {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.hero-portraits__item {
	padding: 1rem;
}

.hero-portraits__item--left {
	position: relative;
	left: 1.5rem;
	transform: rotate(-3deg);
}

.hero-portraits__item--right {
	position: relative;
	top: 3rem;
	right: 1.5rem;
	transform: rotate(3deg);
}

.experience-contact {
	display: grid;
	grid-gap: 2rem;
}

@media only screen and (min-width: 768px) {
	.experience-contact {
		grid-template-columns: 2fr 1fr;
		align-items: center;
	}
}