.gallery--portfolio {
	grid-gap: 1rem;
}

.gallery--portfolio .polaroid {
	transition: var(--transition-duration) transform, var(--transition-duration) box-shadow;
}

@media only screen and (min-width: 768px) {
	.gallery--portfolio .polaroid:nth-of-type(12n+1) { transform: rotate(-3deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+2) { transform: rotate(2deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+3) { transform: rotate(-2deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+4) { transform: rotate(3deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+5) { transform: rotate(1deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+6) { transform: rotate(-1deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+7) { transform: rotate(2.5deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+8) { transform: rotate(-2.5deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+9) { transform: rotate(-1.5deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+10) { transform: rotate(1.5deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+11) { transform: rotate(-0.5deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+12) { transform: rotate(1.5deg); }
	.gallery--portfolio .polaroid:nth-of-type(12n+12) { transform: rotate(1.5deg); }
}

.gallery--portfolio .polaroid:hover,
.gallery--portfolio .polaroid:focus {
	transform: scale(1.05) rotate(0deg);
	box-shadow: var(--box-shadow-strong);
}
