.steps {
	display: grid;
	grid-gap: 1.25rem;
}

.step {
	margin-bottom: 0;
}

.step__header {
	display: flex;
	align-items: center;
	margin-bottom: .25rem;
}

.step__nr {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1.75rem;
	height: 1.75rem;
	margin-right: .5rem;
	font-weight: 700;
	color: #FFF;
	line-height: 1;
	text-align: center;
	border-radius: 100%;
	background-color: var(--highlight);
}

.step__title {
	display: inline-block;
	font-size: 1.125rem;
}

.step__text {
	margin-bottom: 0;
}

.how-it-works {
	counter-reset: item;
}

.how-it-works__item + .how-it-works__item {
	margin-top: 2rem;
}

.how-it-works__title:before {
	content: counter(item);
	counter-increment: item;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	margin-right: .5rem;
	font-family: var(--sans);
	font-weight: 700;
	line-height: 1;
	border-radius: 1.5rem;
	color: #FFF;
	background-color: var(--highlight);
}

.floating-photo {
	margin-bottom: 1rem;
	color: var(--bg-dark);
	background-color: var(--text-dark);
}

.floating-photo__photo {
	display: block;
}

.floating-photo__caption {
	padding: .75rem 1rem;
	font-size: .875rem;
	text-align: center;
	line-height: 1;
}

.faqs {
	display: grid;
	grid-gap: .625rem;
	align-items: start;
}

.faq {
	background-color: #FFF;
}

.faq__question {
	cursor: pointer;
	padding: .625rem 1rem;
	font-weight: 700;
	border-bottom: 1px solid var(--bg);
	transition: color var(--transition-duration);
}

.faq__question:hover,
.faq__question:focus {
	color: var(--accent);
}

.faq__answer {
	padding: .75rem 1rem;
}

.vintage-promo {
	display: grid;
	grid-gap: 1rem;
	align-items: center;
	margin-top: 2rem;
	padding: 1rem;
	border: 1px solid var(--bg-dark);
	border-top: .375rem solid var(--highlight);
	border-radius: var(--border-radius);
	background-color: #FFF;
}

.vintage-promo__title {
	margin-top: 0;
}

.vintage-promo__image-link {
	border: 0;
}

@media only screen and (min-width: 768px) {
	.steps {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 3rem;
	}

	.step__title {
		font-size: 1.25rem;
		letter-spacing: -.5px;
	}

	.step__text {
		font-size: 1.125rem;
	}

	.floating-photo {
		width: 40%;
	}

	.floating-photo--left {
		float: left;
		margin-right: 2rem;
	}

	.floating-photo--right {
		float: right;
		margin-left: 2rem;
	}

	.faqs {
		grid-template-columns: repeat(2, 1fr);
	}

	.faq,
	.faq p,
	.faq li {
		font-size: 1rem;
	}

	.faq ul {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.vintage-promo {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 1200px) {
	.faq,
	.faq p,
	.faq li {
		font-size: 1.125rem;
	}

	.vintage-promo {
		grid-template-columns: 700px 1fr;
	}
}
