/*
	Roland Szabó Photography
	https://rolandszabo.photo
*/



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }





/* Variables */

:root {
	--sans: 'Rubik', sans-serif;
	--serif: 'Playfair Display', serif;
}





/* Base */

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html { scroll-behavior: initial; }
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 1rem;
	font-family: var(--sans);
	font-weight: 300;
	color: #666;
	letter-spacing: -.5px;
	line-height: 1.25;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	flex-grow: 1;
	margin: 1.5rem 0;
	padding: 1.5rem 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.wrapper {
	max-width: 75rem;
	margin: 0 auto;
}





/* Typography */

li {
	margin-bottom: .5rem;
	line-height: 1.5;
}

p {
	margin-bottom: 1rem;
	line-height: 1.5;
}

a {
	color: #999;
	text-decoration: none;
	border-bottom: 1px solid #DDD;
}

strong {
	font-weight: 500;
}

.page-header {
	margin-bottom: 1rem;
}

.page-title {
	margin-bottom: 2rem;
	font-family: var(--serif);
	font-size: 2rem;
	color: #444;
	letter-spacing: -.0625rem;
}

.subtitle {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-family: var(--serif);
	font-size: 1.5rem;
	color: #444;
	letter-spacing: -.0625rem;
}





/* Header */

.header {
	display: grid;
	grid-gap: 1rem;
	align-items: center;
	text-align: center;
}

.logo {
	display: inline-block;
	border: 0;
}

.logo__roland {
	font-family: var(--serif);
	font-size: 2.5rem;
	letter-spacing: -.125rem;
	color: #444;
}

.logo__photo {
	display: block;
	font-weight: 300;
	letter-spacing: 0;
	color: #666;
	text-transform: uppercase;
}

.nav__item {
	display: inline;
}

.nav__link {
	display: inline-block;
	padding: .5rem;
	color: #666;
	text-decoration: none;
	border-bottom: 0;
}





/* Homepage */

.homepage {
	display: grid;
	grid-gap: 1.5rem;
}

.homepage-photo__figure {
	position: relative;
}

.homepage-photo__image {
	display: block;
}

.homepage-photo__caption {
	position: absolute;
	bottom: 1rem;
	display: inline-block;
	padding: .75rem 1.25rem;
	font-size: 1.25rem;
	color: #444;
	text-align: center;
	letter-spacing: -.75px;
	line-height: 1;
	background-color: #FFF;
}





/* Gallery */

.gallery {
	display: grid;
	grid-gap: 1rem;
}

.photo {
	position: relative;
}

.photo__image {
	display: block;
}

.photo:hover .photo__caption,
.photo:focus .photo__caption {
	opacity: 1;
}

.photo__caption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	background-color: rgba(0,0,0,.75);
	transition: .3s opacity;
}

.photo__title {
	display: block;
	margin-bottom: 3rem;
	font-family: var(--serif);
	font-size: 2rem;
	color: #FFF;
}

.photo__dl {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: .5rem 2rem;
	color: #CCC;
}





/* About & Contact */

.about,
.contact {
	display: grid;
	grid-gap: 2rem 0;
}

.social {
	list-style: disc;
	margin-left: 1.125rem;
	margin-bottom: .75rem;
}

.social__name {
	display: block;
}





/* Footer */

.footer {
	display: grid;
	grid-gap: 1rem;
	align-items: center;
	text-align: center;
}

.copyright {
	margin-bottom: 0;
	font-size: .75rem;
	color: #999;
	letter-spacing: -.015625rem;
}





/* Media Queries */

@media only screen and (min-width: 768px) {
	body {
		padding: 2rem;
	}

	p,
	li {
		font-size: 1.25rem;
	}

	.header,
	.footer {
		grid-template-columns: repeat(2, 1fr);
		text-align: initial;
	}

	.nav__list {
		margin-right: -1rem;
		text-align: right;
	}

	.nav__link {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.homepage {
		grid-template-columns: repeat(3, 1fr);
	}

	.about {
		grid-template-columns: 3fr 1fr 6fr;
		justify-content: center;
	}

	.about__photo {
		grid-row: 1 / 4;
		grid-column: 1 / 3;
	}

	.about__text {
		position: relative;
		z-index: 1;
		grid-row: 2 / 3;
		grid-column: 2 / 4;
		padding: 2rem;
		background-color: #FFF;
		box-shadow: .5rem .5rem 3rem 0 rgba(0,0,0,.125);
	}

	.contact {
		grid-template-columns: 6fr 1fr 3fr;
		justify-content: center;
	}

	.contact__photo {
		grid-row: 1 / 4;
		grid-column: 2 / 4;
	}

	.contact__text {
		position: relative;
		z-index: 1;
		grid-row: 2 / 3;
		grid-column: 1 / 3;
		padding: 2rem;
		background-color: #FFF;
		box-shadow: .5rem .5rem 3rem 0 rgba(0,0,0,.125);
	}

	.copyright {
		grid-row: 1;
		grid-column: 1;
		font-size: 1rem;
		letter-spacing: -.03125rem;
	}

	.gallery--3 { grid-template-columns: repeat(2, 1fr); }
}

@media only screen and (min-width: 992px) {
	.gallery--2 { grid-template-columns: repeat(2, 1fr); }
	.gallery--3 { grid-template-columns: repeat(3, 1fr); }

	.about__text {
		padding: 3rem;
	}
}
