/*
	Roland Szabó Photography Website
	https://rolandszabo.photo
*/



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }






/* Base */

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html { scroll-behavior: initial; }
}

body {
	font-family: "Heebo", sans-serif;
	font-weight: 300;
	color: #888;
	letter-spacing: -.5px;
	line-height: 1.25;
	background-color: #222;
}

img {
	max-width: 100%;
	height: auto;
}

.section {
	min-height: 100vh;
	padding: 100px;
}

.section__title {
	margin-bottom: 60px;
	font-size: 50px;
	color: #DDD;
	letter-spacing: -2px;
}

.section__subtitle {
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 34px;
	color: #BBB;
	letter-spacing: -1.5px;
}

.grid {
	display: grid;
	grid-gap: 50px;
}





/* Typography */

p {
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 1.75;
}

li {
	margin-bottom: 12px;
	font-size: 24px;
	line-height: 1.75;
}

strong {
	font-weight: 600;
	color: #AAA;
}

a {
	color: #52CC52;
	line-height: 1;
	text-decoration: none;
	border-bottom: 1px solid #444;
	transition: color .3s, border-color .3s;
}

a:hover,
a:focus {
	color: #FFF;
	border-bottom-color: #52CC52;
}





/* Animations */

@-webkit-keyframes focus {
	0%   { filter: blur(10px); }
	66%  { filter: blur(1px); }
	83%  { filter: blur(5px); }
	100% { filter: blur(0); }
}

@-webkit-keyframes armed {
	0%   { border-color: #AAA; }
	99%  { border-color: #AAA; }
	100% { border-color: #52CC52; }
}

@-webkit-keyframes blink {
	0%   { opacity: 1; }
	49%  { opacity: 1; }
	50%  { opacity: 0; }
	99%  { opacity: 0; }
}

@-webkit-keyframes drain {
	0%   { opacity: 1; }
	99%  { opacity: 1; }
	100% { opacity: 0; }
}





/* My Photo */

.my-photo-container {
	text-align: center;
}

.my-photo {
	display: inline-block;
	padding: 15px;
	text-align: center;
	background-color: #292929;
	-webkit-transform: rotate(4deg);
	-ms-transform:     rotate(4deg);
	transform:         rotate(4deg);
}

.my-photo__caption {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 700;
	letter-spacing: 0;
}

@media only screen and (max-width: 1400px) {
	.my-photo {
		-webkit-transform: none;
		-ms-transform:     none;
		transform:         none;
	}
}





/* Media Queries */

@media only screen and (max-width: 800px) {
	.section {
		padding: 75px 50px;
	}
}

@media only screen and (max-width: 600px) {
	.section {
		padding: 50px 30px;
	}

	p,
	li {
		font-size: 20px;
		line-height: 1.6;
	}
}
