/* Autófotózás */

body {
	font-family: 'Rubik', sans-serif;
	background: #222 url('../images/autofotozas-header.jpg') no-repeat top right;
	text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.section {
	min-height: auto;
}

.section__title {
	margin-bottom: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}

.title {
	font-size: 100px;
	font-weight: 100;
	color: #CCC;
	letter-spacing: -7px;
	line-height: 1;
}

.subtitle {
	font-size: 24px;
	text-transform: uppercase;
}

.intro {
	max-width: 1000px;
}

.grid--services {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 100px;
}

.grid--recent {
	grid-template-columns: repeat(4, 1fr);
}

.photo {
	border: 10px solid #CCC;
	box-shadow: 0 10px 25px 0 rgba(0,0,0,.25);
}

.photo--half {
	grid-column: span 2;
}

.grid--about {
	grid-template-columns: repeat(2, 1fr);
	align-items: start;
	justify-items: end;
}





/* Media Queries */

@media only screen and (max-width: 1200px) {
	.section {
		padding: 75px;
	}
	.grid--services {
		grid-template-columns: 1fr;
		grid-gap: 50px;
	}
	.grid--about {
		grid-template-columns: 2fr 1fr;
	}
	.photo--quarter {
		grid-column: span 2;
	}
}

@media only screen and (max-width: 1000px) {
	.grid--about {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.photo--half {
		grid-column: 1 / -1;
	}
	.photo--quarter {
		grid-column: span 2;
	}
}

@media only screen and (max-width: 800px) {
	body {
		background-image: none;
	}
	.title {
		font-size: 80px;
		letter-spacing: -5.5px;
	}
	.section {
		padding: 50px;
	}
	.section__title {
		margin-bottom: 30px;
		font-size: 40px;
		letter-spacing: -1.75px;
	}
	.section__subtitle {
		font-size: 30px;
		letter-spacing: -1.125px;
	}
	.photo--quarter {
		grid-column: 1 / -1;
	}
}

@media only screen and (max-width: 600px) {
	.title {
		font-size: 60px;
		letter-spacing: -4px;
	}
	.subtitle {
		font-size: 20px;
		letter-spacing: -.25px;
	}
	.section {
		padding: 30px;
	}
	.section__title {
		font-size: 36px;
		letter-spacing: -1.5px;
	}
	.section__subtitle {
		font-size: 26px;
		letter-spacing: -1px;
	}
	.section--welcome {
		text-align: center;
	}
}

@media only screen and (max-width: 420px) {
	.section__title {
		margin-bottom: 20px;
		font-size: 24px;
		letter-spacing: -1px;
	}
	.section__subtitle {
		margin-bottom: 10px;
		font-size: 22px;
		letter-spacing: -1px;
	}
	p, li {
		font-size: 16px;
	}
	p {
		margin-bottom: 16px;
	}
	li {
		margin-bottom: 8px;
	}
}
