.blog-container {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--grid-gutter);
	padding-right: var(--grid-gutter);
}

.blog-lister {
	margin-bottom: var(--grid-gutter);
	background-color: #FFF;
	box-shadow: var(--box-shadow-small);
}

.blog-lister__link,
.blog-lister__link:hover,
.blog-lister__link:focus {
	color: var(--text);
	border-bottom: 0;
}

.blog-lister__image {
	display: flex;
	object-fit: cover;
	width: 100%;
	height: 10rem;
}

.blog-lister__content {
	padding: 1rem;
}

.blog-lister__title {
	margin-top: 0;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--bg);
}

.featured-image {
	display: grid;
	grid-gap: .5rem;
	margin-bottom: 2rem;
	padding: .5rem;
	text-align: center;
	background-color: #FFF;
	box-shadow: var(--box-shadow);
}

.featured-image__title {
	margin-bottom: 0;
	font-weight: 700;
	letter-spacing: -.0375rem;
}

.written-by {
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-gap: 1rem;
	align-items: center;
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid var(--bg-dark);
}

.written-by__image {
	border-radius: 100%;
}

.written-by__text {
	margin-bottom: 0;
	letter-spacing: -.05rem;
}

@media only screen and (max-width: 575px) {
	.featured-image__info {
		padding-left: .5rem;
	}

	.featured-image__info:not(:last-of-type):after {
		content: '●';
		padding-left: .5rem;
		color: var(--bg-dark);
	}
}

@media only screen and (min-width: 576px) {
	.featured-image {
		grid-template-columns: 2fr 1fr;
		grid-gap: 1rem;
		text-align: left;
	}

	.featured-image__caption {
		display: flex;
		flex-direction: column;
	}

	.featured-image__title {
		flex-grow: 1;
	}

	.featured-image__details {
		text-align: right;
	}

	.featured-image__info {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.blog-lister__link {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	.blog-lister__image {
		height: 100%;
	}

	.blog-lister__content {
		padding: 2rem;
	}

	.featured-image {
		margin-bottom: 3rem;
		padding: 1rem;
	}
}
