.home {
	padding: 0;
}

.home .header {
	padding: 1rem .5rem;
}

.home-nav {
	display: grid;
	grid-gap: .5rem;
	min-height: calc(100vh - 5.25rem);
	padding: 0 .5rem .5rem;
}

.home-nav__link {
	display: flex;
	align-items: flex-end;
	border: 0;
	border-radius: 1rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.home-nav__link--female { background-image: url('/assets/images/portraiture/jazmin/03_700.webp'); }
.home-nav__link--male   { background-image: url('/assets/images/portraiture/nicolas/03_700.webp'); }
.home-nav__link--couple { background-image: url('/assets/images/portraiture/cinta-jorge/01_700.webp'); }

.home-nav__link-text {
	display: inline-block;
	margin-bottom: 1rem;
	padding: .5rem 1.25rem;
	font-size: 1.5rem;
	color: #FFF;
	text-transform: uppercase;
	background-color: rgba(0,0,0,.5);
	transition: .2s background-color;
}

.home-nav__link:hover .home-nav__link-text,
.home-nav__link:focus .home-nav__link-text {
	background-color: #000;
}

.calendar-promo {
	display: grid;
	grid-gap: 1rem;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 3rem;
	padding: 1rem;
	text-align: center;
	border: 1px solid var(--bg-dark);
	border-top: .375rem solid var(--highlight);
	border-radius: var(--border-radius);
	background-color: #FFF;
}

.calendar-promo__title {
	font-size: 2.25rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.calendar-promo__image-link {
	padding: 0;
	border-bottom: 0;
}

.home__title {
	margin-bottom: 1rem;
	font-family: var(--serif);
	font-size: 1.625rem;
	color: var(--text-dark);
	letter-spacing: -.0625rem;
}

.home__subtitle {
	grid-column: 1 / -1;
	margin-top: 0;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	font-family: var(--sans);
	font-size: 1rem;
	color: var(--text);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -.025rem;
	border-bottom: 1px solid var(--bg-dark);
}

.home__grid {
	display: grid;
	grid-gap: 0 1rem;
}

.masonry {
	display: grid;
	grid-gap: 1rem;
}

.brick {
	transition: var(--transition-duration) opacity;
}

.brick:hover,
.brick:focus {
	opacity: .8;
	cursor: pointer;
}

.brick--landscape {
	grid-column: 1 / -1;
}

.home-bottom {
	margin-top: 2rem;
	text-align: center;
}

.home__link {
	display: block;
	margin-top: .5rem;
	color: var(--text);
	text-align: center;
	border-bottom: 0;
}

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 98;
	pointer-events: none;
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.75);
}

.lightbox.active {
	opacity: 1;
	pointer-events: all;
}

.lightbox__container {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.lightbox__figure {
	position: relative;
	display: flex;
}

.lightbox__image {
	object-fit: cover;
	max-height: 98vh;
	padding: 1rem;
	background-color: #FFF;
}

.lightbox__arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	padding: 5rem 1.75rem;
	font-size: 1.5rem;
	color: #FFF;
	line-height: 1;
	border-bottom: 0;
}

.lightbox__arrow:hover,
.lightbox__arrow:focus {
	color: var(--highlight);
}

#left  { left: 1rem; }
#right { right: 1rem; }

.lightbox__more {
	padding: .5rem 1rem;
	margin-top: .75rem;
}

.lightbox__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	font-weight: 700;
	font-size: 3rem;
	color: var(--text-dark);
	line-height: 1;
	text-align: center;
	border-bottom: 0;
	border-radius: 100%;
	background-color: #FFF;
	transition: var(--transition-duration) color, var(--transition-duration) transform;
}

.lightbox__close:hover,
.lightbox__close:focus {
	color: var(--highlight);
	transform: rotate(90deg);
}

@media only screen and (min-width: 480px) {
	.masonry {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 576px) {
	.home__title {
		margin-bottom: 1.25rem;
	}

	.home__link {
		display: inline-block;
		margin: 0 0 0 1rem;
	}

	.lightbox__arrow {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.home .header {
		padding: 1rem;
	}

	.home-nav {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		padding: 0 1rem 1rem;
	}

	.home-nav__link--female { background-image: url('/assets/images/portraiture/jazmin/07_700.webp'); }
	.home-nav__link--male   { background-image: url('/assets/images/portraiture/nicolas/01_700.webp'); }
	.home-nav__link--couple { background-image: url('/assets/images/portraiture/cinta-jorge/02_700.webp'); }

	.home-nav__link {
		justify-content: center;
		border-radius: 1rem;
	}

	.home-nav__link-text {
		margin-bottom: 1rem;
	}

	.calendar-promo {
		grid-template-columns: 3fr 2fr;
		grid-gap: 3rem;
		text-align: left;
	}

	.home__title {
		margin-bottom: 1rem;
		font-size: 2rem;
		letter-spacing: -.1rem;
	}

	.home__subtitle {
		font-size: 1.125rem;
		letter-spacing: -.025rem;
	}
}

@media only screen and (min-width: 992px) {
	.home__title {
		margin-bottom: 1.5rem;
		font-size: 2.5rem;
		letter-spacing: -.1rem;
	}

	.home__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.masonry {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 991px) {
	.home__grid section + section {
		margin-top: 3rem;
	}
}
