.home-about {
	display: grid;
	grid-gap: 2rem;
}

.home__title {
	font-size: 1.5rem;
	color: var(--text-dark);
	letter-spacing: -.05rem;
}

.home__title-cta {
	margin-top: .75rem;
	padding: .75rem 1rem;
	font-weight: 700;
	font-family: var(--sans);
	border-radius: var(--border-radius);
	background-color: var(--accent);
}

.home__title-cta-link {
	color: var(--text-dark);
	text-decoration: none;
	border-bottom: 0;
}

.home__title-cta-link:hover,
.home__title-cta-link:active {
	color: #FFF;
}

.home-nav__list {
	display: grid;
	grid-gap: var(--grid-gutter);
	min-height: calc(100vh - 12.5rem);
	margin-bottom: 0;
}

.home-nav__item {
	overflow: hidden;
	margin-bottom: 0;
	border-radius: 1rem;
}

.home-nav__link {
	transform: scale(1.02);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	height: 100%;
	border: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: var(--transition-duration) opacity, var(--transition-duration) transform;
}

.home-nav__link--female { background-image: url('/assets/images/portraiture/blanka-3/04_700.webp'); }
.home-nav__link--male   { background-image: url('/assets/images/portraiture/abdallah/04_700.webp'); }
.home-nav__link--couple { background-image: url('/assets/images/portraiture/klemi-adam/06_700.webp'); }

@media only screen and (min-width: 768px) {
	.home-nav__link--female { background-image: url('/assets/images/portraiture/blanka-3/06_700.webp'); }
	.home-nav__link--male { background-image: url('/assets/images/portraiture/abdallah/06_700.webp'); }
	.home-nav__link--couple { background-image: url('/assets/images/portraiture/klemi-adam/02_700.webp'); }
}

.home-nav__link-text {
	display: inline-block;
	margin-bottom: 1rem;
	padding: .5rem 1.25rem;
	font-size: 1rem;
	color: #FFF;
	letter-spacing: 0;
	text-transform: uppercase;
	background-color: rgba(0,0,0,.5);
	transition: var(--transition-duration) background-color;
}

.home-nav__link:hover,
.home-nav__link:focus {
	transform: scale(1.0);
}

.home-nav__link:hover .home-nav__link-text,
.home-nav__link:focus .home-nav__link-text {
	background-color: rgba(0,0,0,.75);
}

@media only screen and (min-width: 576px) {
	.home__title {
		margin-bottom: 1.25rem;
	}
}

@media only screen and (min-width: 768px) {
	.home__title {
		margin-bottom: 1rem;
		font-size: 2rem;
		letter-spacing: -.1rem;
	}

	.home-nav__list {
		grid-template-columns: repeat(3, 1fr);
		min-height: calc(100vh - 15rem);
	}

	.home-nav__link {
		justify-content: center;
		border-radius: 1rem;
	}

	.home-nav__link-text {
		margin-bottom: 1rem;
		font-size: 1.25rem;
		letter-spacing: -.025rem;
	}

	.home-about {
		grid-template-columns: 2fr 1fr;
		align-items: center;
	}
}

@media only screen and (min-width: 992px) {
	.home-nav__list {
		min-height: calc(100vh - 13rem);
	}

	.home__title {
		margin-bottom: 1.5rem;
		font-size: 2.5rem;
		letter-spacing: -.1rem;
	}
}
