.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 98;
	display: grid;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	background-color: #FFF;
}

.lightbox.active {
	opacity: 1;
	pointer-events: all;
}

.lightbox__container {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lightbox__figure {
	position: relative;
	display: flex;
}

.lightbox__image {
	object-fit: cover;
	max-height: calc(100vh - 2rem);
}

.lightbox__arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	padding: 5rem 1rem;
	font-size: 1.5rem;
	color: var(--text-dark);
	line-height: 1;
	border-bottom: 0;
	text-shadow: 0 0 .125rem #FFF;
}

.lightbox__arrow:hover,
.lightbox__arrow:focus {
	color: var(--text-dark);
}

#left  {
	left: 0;
}

#right {
	right: 0;
}

.lightbox__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	font-weight: 700;
	font-size: 3rem;
	color: var(--text-dark);
	line-height: 1;
	text-align: center;
	border-bottom: 0;
	border-radius: 100%;
	background-color: #FFF;
	transition: var(--transition-duration) color, var(--transition-duration) transform;
}

.lightbox__close:hover,
.lightbox__close:focus {
	color: var(--highlight);
	transform: rotate(90deg);
}

@media only screen and (min-width: 576px) {
	.lightbox__arrow {
		font-size: 2rem;
	}
}
