/*
	Roland Szabó Photography
	https://rolandszabo.photo
*/



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }





/* Variables */

:root {
	--sans: 'Rubik', sans-serif;
	--serif: 'Playfair Display', serif;
}





/* Base */

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html { scroll-behavior: initial; }
}

body {
	padding: 1rem;
	font-family: var(--sans);
	font-weight: 300;
	color: #666;
	letter-spacing: -.5px;
	line-height: 1.25;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	margin: 1.5rem 0;
	padding: 1.5rem 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}





/* Header */

.header {
	display: grid;
	grid-gap: 1rem;
	align-items: center;
	text-align: center;
}

.logo__roland {
	font-family: var(--serif);
	font-size: 2.5rem;
	letter-spacing: -.125rem;
	color: #444;
}

.logo__photo {
	display: block;
	font-weight: 300;
	letter-spacing: 0;
	color: #666;
	text-transform: uppercase;
}

.nav__item {
	display: inline;
}

.nav__link {
	display: inline-block;
	padding: .5rem;
	color: #666;
	text-decoration: none;
}





/* Homepage */

.homepage {
	display: grid;
	grid-gap: 1.5rem;
}

.homepage-photo__figure {
	position: relative;
}

.homepage-photo__image {
	display: block;
}

.homepage-photo__caption {
	position: absolute;
	bottom: 1rem;
	display: inline-block;
	padding: .75rem 1.25rem;
	text-align: center;
	line-height: 1;
	background: #FFF;
}





/* Page Header */

.page-header {
	margin-bottom: 1rem;
}

.page-title {
	font-family: var(--serif);
	font-size: 2rem;
	color: #444;
	letter-spacing: -.0625rem;
}

.page-description {
	margin-top: .5rem;
	line-height: 1.5;
}





/* Gallery */

.gallery {
	display: grid;
	grid-gap: 1rem;
}





/* Footer */

.footer {
	display: grid;
	grid-gap: 1rem;
	align-items: center;
	text-align: center;
}





/* Media Queries */

@media only screen and (min-width: 768px) {
	body {
		padding: 2rem;
	}

	.header,
	.footer {
		grid-template-columns: repeat(2, 1fr);
		text-align: initial;
	}

	.nav__list {
		margin-right: -1rem;
		text-align: right;
	}

	.nav__link {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.homepage {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		grid-gap: 3rem;
	}

	.photo {
		grid-row: span 2;
	}

	.gallery .page-header {

	}
}
