/*
	Roland Szabó Photography
	https://rolandszabo.photo
*/



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }



/* Variables */

:root {
	--sans: 'Rubik', sans-serif;
	--serif: 'Playfair Display', serif;

	--bg: #F1F5F9;
	--bg-medium: #E1E5E9;
	--bg-dark: #C1C5C9;

	--text: #717579;
	--text-dark: #414549;

	--highlight: #FF6C6A;
	--accent: #FFA15D;
}



/* Base */

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html { scroll-behavior: initial; }
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--sans);
	font-weight: 300;
	color: var(--text);
	letter-spacing: -.03125rem;
	line-height: 1.25;
	background-color: var(--bg);
}

img {
	max-width: 100%;
	max-height: 100%;
}

.main {
	flex-grow: 1;
}

.wrapper {
	max-width: 75rem;
	margin: 0 auto;
}



/* Typography */

.list {
	list-style: disc;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
}

li {
	margin-bottom: .5rem;
	line-height: 1.5;
}

p {
	margin-bottom: 1rem;
	line-height: 1.5;
}

a {
	color: var(--highlight);
	text-decoration: none;
	border-bottom: 1px solid var(--bg-dark);
	transition: .25s color;
}

a:hover,
a:focus {
	color: var(--accent);
}

strong {
	font-weight: 500;
}

.text-center {
	text-align: center;
}

.page-header {
	margin-bottom: 2rem;
}

.page-title {
	margin-bottom: 1rem;
	font-family: var(--serif);
	font-size: 2rem;
	color: var(--text-dark);
	letter-spacing: -.0625rem;
}

.subtitle {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	font-family: var(--serif);
	font-size: 1.75rem;
	color: var(--text-dark);
	letter-spacing: -.0625rem;
}

.yuge {
	margin-bottom: 1rem;
	font-size: 5rem;
}



/* Button */

.button {
	display: inline-block;
	padding: .75rem 1.25rem;
	font-weight: 500;
	color: #FFF;
	letter-spacing: 0;
	text-transform: uppercase;
	border-bottom: none;
	background-color: var(--highlight);
	transition: .25s color, .25s background-color;
}

.button:hover,
.button:focus {
	color: #FFF;
	background-color: var(--accent);
}



/* Alert */

.alert {
	margin-top: 1.5rem;
	padding: .5rem 0 .5rem 1rem;
	border-left: 5px solid var(--accent);
}

.alert > *:last-child {
	margin-bottom: 0;
}



/* Header */

.header {
}



/* Media Queries */

@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
