/*
	Roland Szabó Photography
	https://rolandszabo.photo
*/



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }



/* Variables */

:root {
	--sans: 'Rubik', sans-serif;
	--serif: 'Playfair Display', serif;
	--cursive: 'Architects Daughter', cursive;

	--bg: #F1F5F9;
	--bg-medium: #E1E5E9;
	--bg-dark: #C1C5C9;

	--text: #717579;
	--text-dark: #414549;

	--highlight: #FF6C6A;
	--accent: #FFA15D;

	--grid-gutter: 1rem;
	--polaroid-padding: .5rem;
	--transition-duration: .25s;
}



/* Base */

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html { scroll-behavior: initial; }
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--sans);
	font-weight: 300;
	color: var(--text);
	letter-spacing: -.03125rem;
	line-height: 1.5;
	background-color: var(--bg);
}

img {
	max-width: 100%;
	max-height: 100%;
}

.main {
	flex-grow: 1;
	padding: var(--grid-gutter);
}

.wrapper {
	max-width: 75rem;
	margin: 0 auto;
}

.full {
	grid-column: 1 / -1;
}



/* Typography */

li {
	margin-bottom: .5rem;
}

p {
	margin-bottom: 1rem;
}

a {
	color: var(--highlight);
	text-decoration: none;
	border-bottom: 1px solid var(--bg-dark);
	transition: var(--transition-duration) color;
}

a:hover,
a:focus {
	color: var(--accent);
}

strong {
	font-weight: 500;
}

.text-center {
	text-align: center;
}

.list {
	list-style: disc;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
}

.subtitle {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	font-family: var(--serif);
	font-size: 1.375rem;
	color: var(--text-dark);
	letter-spacing: -.05rem;
}

.yuge {
	margin-bottom: 1rem;
	font-size: 5rem;
}


/* Header */

.header {
	border-bottom: 1px solid var(--bg-dark);
	background-color: #FFF;
	box-shadow: 0 .125rem .5rem rgba(0,0,0,.125);
}

.logo {
	display: block;
	margin: 1.5rem 0 1rem;
	text-align: center;
	border-bottom: 0;
}

.logo__image {
	max-width: 10rem;
}

.nav--pages {
	font-size: .875rem;
	letter-spacing: 0;
	text-transform: uppercase;
	border-bottom: 1px solid var(--bg-medium);
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: .5rem;
}

.nav__item {
	margin-bottom: 0;
}

.nav__link {
	display: inline-block;
	padding: .25rem .75rem;
	color: var(--text);
	border-bottom: 0;
}



/* Page Header */

.page-header {
	margin-bottom: 2rem;
}

.category {
	display: block;
	margin-bottom: .5rem;
	color: var(--text);
	text-transform: capitalize;
}

.title {
	margin-bottom: 1.25rem;
	font-family: var(--serif);
	font-size: 1.75rem;
	color: var(--text-dark);
	letter-spacing: -.0625rem;
}



/* Tags */

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.tag {
	margin-right: .5rem;
	font-weight: 600;
	font-size: .875rem;
	letter-spacing: 0;
	text-transform: uppercase;
}

.tag__link {
	display: inline-block;
	padding: .125rem .75rem;
	color: var(--text);
	border-bottom: 0;
	border-radius: 99rem;
	background-color: var(--bg-medium);
	transition: color var(--transition-duration), background-color var(--transition-duration);
}

.tag__link:hover,
.tag__link:focus {
	color: var(--text-dark);
	background-color: var(--bg-dark);
}



/* Galleries */

.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: var(--grid-gutter);
	align-items: start;
}

.gallery--3-col {
	grid-template-columns: repeat(3, 1fr);
}

.polaroids {
	position: relative;
	z-index: 1;
	display: block;
	margin: .5rem;
	color: var(--text);
	border-bottom: 0;
}

.polaroids:before,
.polaroids:after {
	content: '';
	position: absolute;
	z-index: -1;
	background-color: #FFF;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.25);
	transition: transform var(--transition-duration);
}

.polaroids:before {
	top: -.5rem;
	left: -.375rem;
	right: .375rem;
	bottom: .5rem;
	transform: rotate(-.5deg);
}

.polaroids:after {
	top: .375rem;
	left: .5rem;
	right: -.5rem;
	bottom: -.375rem;
	transform: rotate(.5deg);
}

.polaroids:hover:before { transform: rotate(.5deg); }
.polaroids:hover:after { transform: rotate(-.5deg); }

.polaroid {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: var(--polaroid-padding);
	text-align: center;
	background-color: #FFF;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.25);
}

.polaroid__square {
	content: '';
	position: relative;
	display: block;
	width: 100%;
	padding-top: 100%;
}

.polaroid__square .polaroid__photo {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.polaroid__title {
	display: block;
	margin-top: .75rem;
	font-family: var(--cursive);
	font-size: 1.25rem;
	letter-spacing: 0;
}



/* Media Queries */

@media only screen and (min-width: 576px) {
	:root {
		--grid-gutter: 1.25rem;
		--polaroid-padding: .75rem;
	}
}

@media only screen and (min-width: 768px) {
	:root {
		--grid-gutter: 1.5rem;
		--polaroid-padding: 1rem;
	}
}

@media only screen and (min-width: 992px) {
	body {
		flex-direction: row;
	}

	.header {
		min-width: 16rem;
		border-bottom: 0;
		border-right: 1px solid var(--bg-dark);
		box-shadow: .125rem 0 .5rem rgba(0,0,0,.125);
	}

	.nav__list {
		flex-direction: column;
		text-align: center;
	}

	.nav__link {
		display: block;
		padding: .75rem;
	}
}

@media only screen and (min-width: 1200px) {
	:root {
		--grid-gutter: 2rem;
		--polaroid-padding: 1.25rem;
	}
}
