---
layout: layouts/portfolio-gallery.html
title: Páros és Családi Portré Munkáim
permalink: "/{{ locale }}/{{ site[locale].slugCouplePortraits }}/"
translation: couple-portraits
---

{% include "partials/portfolio-photo-landscape.html", name: 'jazmin-beni', id: '01' %}
{% include "partials/portfolio-photo-portrait.html", name: 'amelie-gerson', id: '03' %}
{% include "partials/portfolio-photo-portrait.html", name: 'reka-adam', id: '06' %}
{% include "partials/portfolio-photo-landscape.html", name: 'cinta-jorge', id: '01' %}
{% include "partials/portfolio-photo-portrait.html", name: 'linda-gyuri', id: '06' %}
{% include "partials/portfolio-photo-portrait.html", name: 'aliz-adam', id: '02' %}
{% include "partials/portfolio-photo-landscape.html", name: 'viki-egon-felix-2', id: '04' %}
{% include "partials/portfolio-photo-portrait.html", name: 'luca-david', id: '01' %}
{% include "partials/portfolio-photo-portrait.html", name: 'jackeline-andre', id: '03' %}
{% include "partials/portfolio-photo-landscape.html", name: 'katja-kris', id: '06' %}
{% include "partials/portfolio-photo-portrait.html", name: 'lydia-teo', id: '05' %}
{% include "partials/portfolio-photo-portrait.html", name: 'denise-mark', id: '02' %}
{% include "partials/portfolio-photo-landscape.html", name: 'cinta-jorge', id: '07' %}

{% include "partials/lightbox.html" %}
