---
layout: layouts/portfolio-gallery.html
title: Női Portré Munkáim
permalink: "/{{ locale }}/{{ site[locale].slugFemalePortraits }}/"
translation: female-portraits
---

{% include "partials/portfolio-photo-portrait.html", name: 'arianna', id: '02' %}
{% include "partials/portfolio-photo-portrait.html", name: 'bianka', id: '01' %}
{% include "partials/portfolio-photo-landscape.html", name: 'kata', id: '01' %}
{% include "partials/portfolio-photo-portrait.html", name: 'arianna', id: '02' %}
{% include "partials/portfolio-photo-portrait.html", name: 'arianna', id: '02' %}

{% include "partials/lightbox.html" %}
