---
layout: layouts/portfolio-gallery.html
title: Férfi Portré Munkáim
permalink: "/{{ locale }}/{{ site[locale].slugMalePortraits }}/"
translation: male-portraits
---

{% include "partials/portfolio-photo-portrait.html", name: 'abdallah', id: '06' %}
{% include "partials/portfolio-photo-portrait.html", name: 'kiran', id: '01' %}
{% include "partials/portfolio-photo-landscape.html", name: 'viktor', id: '03' %}
{% include "partials/portfolio-photo-portrait.html", name: 'balazs', id: '01' %}
{% include "partials/portfolio-photo-portrait.html", name: 'nicolas', id: '01' %}
{% include "partials/portfolio-photo-landscape.html", name: 'tim', id: '03' %}
{% include "partials/portfolio-photo-portrait.html", name: 'adam-2', id: '01' %}
{% include "partials/portfolio-photo-portrait.html", name: 'bence', id: '01' %}
{% include "partials/portfolio-photo-landscape.html", name: 'andor', id: '03' %}

{% include "partials/lightbox.html" %}
