---
layout: layouts/base.html
translation: cars-artistic
css: landing-page
og_image: https://rolandszabo.photo/assets/images/opengraph/cars-artistic.webp
---

<link rel="preload" fetchpriority="high" as="image" href="/assets/images/hero-images/{{ translation }}-sm.webp" type="image/webp">

<main class="main">
	<header class="fancy-page-header fancy-page-header--{{ translation }}">
		<div class="container">
			<h1 class="page-header__category">{{ hero.h1 }}</h1>
			<p class="page-header__title h1">{{ hero.title }}</p>
			<p class="page-header__text">{{ hero.text }}</p>
			<a class="button mt-2" href="#more"><i class="fas fa-arrow-down icon-left"></i>&nbsp; {{ hero.button }}</a>
		</div>
	</header>

	<section class="section section--new" id="more">
		<div class="container">
			<h2>{{ why.title }}</h2>
			<ul>
				{% for item in why.items %}
					<li><strong><i class="fas fa-check-square text-success icon-left"></i> {{ item.title }}</strong> {{ item.text }}</li>
				{% endfor %}
			</ul>

			{% assign source = testimonials.items | where: "type", "automotive" %}
			<div class="testimonials mt-3 mb-0">
				{% for item in source limit:3 %}
					{% include "partials/testimonial.html", type: "excerpt", id: forloop.index0 %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="section section--white">
		<div class="container">
			<h2>{{ how.title }}</h2>
			<ol class="list">
				{% for item in how.items %}
					<li><strong>{{ item.title }}</strong> {{ item.text }}</li>
				{% endfor %}
			</ol>
			<p class="emphasized">{{ why.ctaText }} <a href="#start">{{ why.ctaLink }}</a></p>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2>{{ gallery.title }}</h2>
			<p>{{ gallery.text }}</p>
			<div class="gallery gallery--3">
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/911l-1400.webp" title="Porsche 911L">
					<img
						src="/assets/images/cars/artistic/911l-500.webp"
						srcset="/assets/images/cars/artistic/911l-350.webp 350w, /assets/images/cars/artistic/911l-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Porsche 911L"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/kitt-1400.webp" title="Pontiac Firebird Trans Am (K.I.T.T.)">
					<img
						src="/assets/images/cars/artistic/kitt-500.webp"
						srcset="/assets/images/cars/artistic/kitt-350.webp 350w, /assets/images/cars/artistic/kitt-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Pontiac Firebird Trans Am (K.I.T.T.)"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/rs5r-1400.webp" title="Audi RS5-R B9 Coupé">
					<img
						src="/assets/images/cars/artistic/rs5r-500.webp"
						srcset="/assets/images/cars/artistic/rs5r-350.webp 350w, /assets/images/cars/artistic/rs5r-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Audi RS5-R B9 Coupé"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/corvette-1400.webp" title="Chevrolet Corvette C3">
					<img
						src="/assets/images/cars/artistic/corvette-500.webp"
						srcset="/assets/images/cars/artistic/corvette-350.webp 350w, /assets/images/cars/artistic/corvette-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Chevrolet Corvette C3"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/944-1400.webp" title="Porsche 944 S2 Coupé">
					<img
						src="/assets/images/cars/artistic/944-500.webp"
						srcset="/assets/images/cars/artistic/944-350.webp 350w, /assets/images/cars/artistic/944-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Porsche 944 S2 Coupé"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/997c4s-1400.webp" title="Porsche 911 997.1 Carrera 4S">
					<img
						src="/assets/images/cars/artistic/997c4s-500.webp"
						srcset="/assets/images/cars/artistic/997c4s-350.webp 350w, /assets/images/cars/artistic/997c4s-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Porsche 911 997.1 Carrera 4S"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/595-1400.webp" title="Abarth 595 S Pista">
					<img
						src="/assets/images/cars/artistic/595-500.webp"
						srcset="/assets/images/cars/artistic/595-350.webp 350w, /assets/images/cars/artistic/595-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Abarth 595 S Pista"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/rs5b8-1400.webp" title="Audi RS5 B8 Coupé">
					<img
						src="/assets/images/cars/artistic/rs5b8-500.webp"
						srcset="/assets/images/cars/artistic/rs5b8-350.webp 350w, /assets/images/cars/artistic/rs5b8-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Audi RS5 B8 Coupé"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/p100d-1400.webp" title="Tesla Model S P100D">
					<img
						src="/assets/images/cars/artistic/p100d-500.webp"
						srcset="/assets/images/cars/artistic/p100d-350.webp 350w, /assets/images/cars/artistic/p100d-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Tesla Model S P100D"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/bmw5-1400.webp" title="BMW 5 Series">
					<img
						src="/assets/images/cars/artistic/bmw5-500.webp"
						srcset="/assets/images/cars/artistic/bmw5-350.webp 350w, /assets/images/cars/artistic/bmw5-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="BMW 5 Series"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/997.2c4s-1400.webp" title="Porsche 911 997.2 Carrera 4S">
					<img
						src="/assets/images/cars/artistic/997.2c4s-500.webp"
						srcset="/assets/images/cars/artistic/997.2c4s-350.webp 350w, /assets/images/cars/artistic/997.2c4s-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Porsche 911 997.2 Carrera 4S"
						width="700"
						hieght="467"
					>
				</a>
				<a class="lightbox-enabled" href="/assets/images/cars/artistic/impreza-1400.webp" title="Subaru Impreza">
					<img
						src="/assets/images/cars/artistic/impreza-500.webp"
						srcset="/assets/images/cars/artistic/impreza-350.webp 350w, /assets/images/cars/artistic/impreza-500.webp 500w"
						sizes="(max-width: 768px) 50vw, 33.3vw"
						alt="Subaru Impreza"
						width="700"
						hieght="467"
					>
				</a>
			</div>
		</div>
	</section>

	<section class="section section--white text-center" id="start">
		<div class="container">
			<h2>{{ cta.title }}</h2>
			<p>{{ cta.text }}</p>
			<div class="buttons mt-1 mb-0">
				<a class="button" href="mailto:hi@rolandszabo.photo"><i class="fas fa-envelope icon-left"></i>&nbsp; {{ site[locale].contactEmailButton }}</a>
				<a class="button" href="https://www.instagram.com/rolandszabo.photo/"><i class="fas fa-comment icon-left"></i>&nbsp; {{ site[locale].contactInstagramButton }}</a>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2>{{ faq.title }}</h2>
			<div class="faqs">
				{% for item in faq.items %}
					<details class="faq">
						<summary class="faq__question">{{ item.question }}</summary>
						<div class="faq__answer">{{ item.answer }}</div>
					</details>
				{% endfor %}
			</div>
		</div>
	</section>
</main>

{% include "partials/lightbox.html" %}
