---
permalink: "/llms.txt"
layout: false
eleventyExcludeFromCollections: true
---

# Roland Szabó Photography

> Budapesti fotós portré-, autó- és eseményfotózáshoz. A fotózások nyugodt, vezetett élményre épülnek, különösen azok számára, akik feszengenek a kamera előtt.

## Fő oldalak

- [Főoldal]({{ site.url }}/hu/): A fotózási szemlélet, a fő szolgáltatások és a kapcsolatfelvétel áttekintése.
- [Szolgáltatások]({{ site.url }}/hu/szolgaltatasok/): Az elérhető fotózási szolgáltatások összefoglaló oldala.
- [Portfólió]({{ site.url }}/hu/portfolio/): Portré-, autó- és eseményfotók.
- [Rólam]({{ site.url }}/hu/rolam/): Szabó Roland fotós bemutatkozása, szemlélete és tapasztalata.
- [Ügyfélvélemények]({{ site.url }}/hu/rolam-mondtak/): Korábbi ügyfelek visszajelzései.
- [Kapcsolat]({{ site.url }}/hu/kapcsolat/): Kapcsolatfelvétel és visszahívás kérése.

## Fő szolgáltatások

- [Portréfotózás Budapesten]({{ site.url }}/hu/szolgaltatasok/portre-fotozas-budapest/): Vezetett portréfotózás azoknak is, akik nem érzik magukat magabiztosnak a kamera előtt.
- [Autófotózás Budapesten]({{ site.url }}/hu/szolgaltatasok/auto-fotozas-budapest/): Autófotózás hirdetéshez, emléknek és céges megjelenéshez.
- [Eseményfotózás Budapesten]({{ site.url }}/hu/szolgaltatasok/esemeny-fotozas-budapest/): Esküvők, céges rendezvények és privát események fotózása.

## További tartalom

- [Fotós blog]({{ site.url }}/hu/blog/): Fotózási útmutatók, gyakorlati tanácsok és háttéranyagok.
- [Budapest Photo Walk]({{ site.url }}/hu/budapest-photo-walk/): Információk a budapesti közösségi fotósétákról.
- [Felszerelés]({{ site.url }}/hu/felszereles/): A munkához használt fotós felszerelés bemutatása.
