---
layout: layouts/gallery.html
date: 2022-09-04
title: Alíz & Ádám
translation: aliz-adam
tags: [portré, emberek, páros, beltér]
cover: '04'
intro: Alíz és Ádám fotózása egy stranger fotóval kezdődött Kisorosziban, ahol felajánlottam, hogy készítek Róluk pár gyors képet. A képek annyira tetszettek, hogy pár hónap múlva Ádám megajándékozta Alízt egy fotósorozattal az évfordulójukra. A fotósorozatuk az Ő sztorijukat meséli el, hogy miként lettek egy pár. A feltüntetett képek részletek a sorozatból.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
