---
layout: layouts/gallery.html
date: 2023-09-28
title: Anna 🎞️
translation: anna-9
tags: [portré, női, egyéni, városi, analóg]
intro: 'Ezt a sorozatot Film Washi X 100 filmre lőttük.'
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-landscape.html", id: '07' %}
