---
layout: layouts/gallery.html
date: 2022-09-13
title: Eperke
translation: eperke
tags: [portré, emberek, egyéni, női, városi, filmes-objektív]
cover: '03'
intro: Kivittük bejáratni Eperkével az újonnan szerzett Carl Zeiss Jena DDR Sonnar 135mm f/3.5 MC vintage objektívemet. A legelső elkattant kép után mindketten le voltunk nyűgözve -- én azért, mert az objektív elképesztően éles már teljesen nyitva, a színek pedig fantasztikusan élethűek, az általam ismert Helios és Tessar obikhoz képest; Eperke pedig azért, mert már a legelső képet imádta magáról. Mondanom sem kell, hogy a fotózás további része mindenféle bonyodalom nélkül zajlott tovább. Minden portré nyitott rekesszel készült, a színek pedig csak minimális korrekción estek át.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}

