---
layout: layouts/gallery.html
date: 2022-11-19
title: Eperke [Takumar 50mm Teszt]
translation: eperke-2
tags: [portré, egyéni, női, természet, filmes-objektív]
cover: '02'
intro: Eperke ismét szeretettel csatlakozott hozzám egy újabb vintage objektív tesztelésére, ezúttal az újonnan szerzett, japán Super-Takumar 50mm f/1.4-et vittük el meghajtani. A fotók, a negyedik kivételével, mind nyitva készültek. Megfigyelhető az egyébként éles körvonalak között a kissé elmosódott textúrák, amely az objektív egyedi rajzolatát adja.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
