---
layout: layouts/gallery.html
date: 2023-06-25
title: Eszter 🎞️
translation: eszter-8
tags: [portré, egyéni, női, városi, film]
intro: Íme az első fekete-fehér portré tekercsem. Eszter kemény munkájának és változatos ruhatárának köszönhetően öszeraktunk egy '50-es évek háziasszonya' témát, amihez nagyszerűen passzolt az Ilford Delta 100 film nagy kontrasztú hangulata.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
{% include "partials/gallery-photo-landscape.html", id: '09' %}
{% include "partials/gallery-photo-portrait.html", id: '10' %}
{% include "partials/gallery-photo-portrait.html", id: '11' %}
{% include "partials/gallery-photo-landscape.html", id: '12' %}
