---
layout: layouts/gallery.html
date: 2023-06-08
title: Eszter 🎞️
translation: eszter-9
tags: [portré, egyéni, női, természet, analóg]
intro: Az egyik legelső filmes protréfotozásom Eszterrel, amit Fujifilm Velvia 50 diafilmre lőttünk. A fotózás nagy része alatt végig borult volt az idő, viszont a nap utolsó 10 percében egy gyönyörű naplemenetében volt részünk. Ezt a szettet még Június elején fotóztuk, de majdnem 3 hónapot kellett várnunk a képekre a globális előhívófolyadék-hiány miatt.
cover: '07'
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-landscape.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
{% include "partials/gallery-photo-landscape.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
{% include "partials/gallery-photo-landscape.html", id: '09' %}
{% include "partials/gallery-photo-landscape.html", id: '10' %}
