---
layout: layouts/gallery.html
date: 2023-02-13
title: Gabi
translation: gabi
tags: [portré, egyéni, női, természet, tematikus]
cover: '06'
intro: Hálás vagyok, hogy ennek a nagyszerű kollaborációnak a részese lehettem. A viking jelmezt a Maszka Jelmezbolttól kaptuk, a csodálatos sminket pedig az elképesztően ügyes Nóri Glam Makeup készítette. Külön köszönet a fantasztikus modellnek, Gabinak, aki hősiesen megküzött a borzalmas hideggel a fotózás alatt!
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
