---
layout: layouts/gallery.html
date: 2022-09-11
title: Jázmin Csodaországban
translation: jazmin
tags: [portré, egyéni, női, természet, filmes-objektív]
cover: '05'
intro: Jázminnal egy kihívásokkal teli fotózást tartottunk a Hárshegyen, aminek az volt az apropója, hogy csak vintage objektívekkel készültek képek. A fotók nagy része Helios 44M-4 és 44-2 szovjet objektívekkel készültek, de lőttünk pár képet a Carl Zeiss Jena Tessar 50mm üveggel is. Ezek a régi objektívek csavart háttérmosása nagyon egyedi és látványos hatást kölcsönöz a képeknek.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
