---
layout: layouts/gallery.html
date: 2024-05-30
title: Karen
translation: karen
imNotPhotogenic: true
tags: [portré, egyéni, női, természet, üzleti-portré]
cover: '02'
intro: Ez egy "Fotogén Felfedezés" élmény volt, ahol 30 percet fotóztunk, és 3 db végleges képet adtam át. Mindeközben megtanultunk a pózolás alapjait és elértük, hogy jól nézzünk ki a kamera előtt. Ha ez érdekesen hangzik, <a href="/hu/szolgaltatasok/portre-fotozas-budapest/">itt tudod megnézni a részleteket</a>.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
