---
layout: layouts/gallery.html
date: 2023-02-28
title: Kata
translation: kata-2
tags: [portré, egyéni, női, városi, filmes-objektív]
cover: '06'
intro: Kata came to my rescue when I was out looking for friends to shoot with vintage lenses. We ended up using just two, but I love the end results so much.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-landscape.html", id: '07' %}
