---
layout: layouts/gallery.html
date: 2023-06-15
title: Muskan 🎞️
translation: muskan
tags: [portré, egyéni, női, városi, analóg]
intro: Ez volt a harmadik analóg portré fotózásom, Muskannak pedig az első bármilyen fotózása. Szuper jó hangulatban telt a fotózás, nagyon hálás vagyok ezért a lehetőségért! A képeket Kodak UltraMax 400 filmre lőttük az 1976-os Zenit E analóg fényképezőgépemmel, Super-Takumar 50mm f/1.4 és Helios 44-2 objektívekkel.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-landscape.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-landscape.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-landscape.html", id: '08' %}
{% include "partials/gallery-photo-portrait.html", id: '09' %}
{% include "partials/gallery-photo-portrait.html", id: '10' %}
{% include "partials/gallery-photo-landscape.html", id: '11' %}
{% include "partials/gallery-photo-landscape.html", id: '12' %}
