---
layout: layouts/gallery.html
date: 2024-03-10
title: Papa & Mama
translation: papa-mama
tags: [portré, családi/páros, természet]
intro: Íme, a csodálatos nagyszüleim, akik több, mint 60 éve házasok, és akiknek annyi mindent köszönhetek. Egy tavaszi délutánon volt alkalmam fotózni Őket, és ez a fotósorozat elképesztően sokat jelent nekem.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
