---
layout: layouts/gallery.html
date: 2024-05-28
title: Ráhel & Benedek
translation: rahel-benedek
tags: [portré, családi/páros]
intro: A Gróf Széchenyi hajón fotózhattam gyönyörű párokat a hajót üzemeltető cég marketing fotózásának keretein belül. Íme Ráhel és Benedek.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
