---
layout: layouts/gallery.html
date: 2023-06-05
title: Tatum & Péter 🎞️
translation: tatum-peter
tags: [portré, családi/páros, városi, analóg]
intro: Az első filmes portréfotózásom alanyai a csodás Tatum és Péter voltak. Nagyszerű kihívás és ugyanilyen élmény volt mindössze 36 kockával dolgozni a fotózás alatt, és alig vártuk, hogy megérkezzenek a végleges képek a laborból!
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-landscape.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-landscape.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
{% include "partials/gallery-photo-landscape.html", id: '09' %}
{% include "partials/gallery-photo-landscape.html", id: '10' %}
{% include "partials/gallery-photo-landscape.html", id: '11' %}
{% include "partials/gallery-photo-landscape.html", id: '12' %}
