---
layout: layouts/gallery.html
date: 2023-02-06
title: Abdallah
translation: abdallah
tags: [portraiture, solo, male, urban, thematic]
cover: '06'
intro: This has been an incredibly cold but hugely amazing photoshoot with the talented Abi. Many thanks to my friend Péter Csapai for letting me join him on this photoshoot!
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-landscape.html", id: '07' %}

