---
layout: layouts/gallery.html
date: 2024-08-28
title: Boróka
translation: boroka
imNotPhotogenic: true
tags: [portraiture, solo, female, headshots]
intro: This has been an "I'm Not Photogenic" experience, where we photographed for just 30 minutes and my client received a total of 3 images, while learning the basics of posing and looking good on camera. If this sounds interesting to you, you can <a href="/en/services/portrait-photo-walks/">get started here</a>.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
