---
layout: layouts/gallery.html
date: 2022-08-25
title: Cinta & Jorge
translation: cinta-jorge
tags: [portraiture, people, couples, sunset]
cover: '07'
intro: It all started as a stranger photo I took of this lovely couple that I showed them on the streets. They loved it so much that 3 days later we were on a fully fledged photoshoot chasing the sunset in the City Park in Budapest. They reminded me at the beginning of the shoot that they're not good with posing, but I assured them that all I wanted to see is just them being them, as a couple in a park, doing couple-y things. Thanks to this, they could easily relax during the shoot, and I was able to capture some gorgeous photos of them.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-landscape.html", id: '07' %}
