---
layout: layouts/gallery.html
date: 2022-11-19
title: Eperke [Takumar 50mm Test]
translation: eperke-2
tags: [portraiture, solo, female, nature, vintage-lens]
cover: '02'
intro: Eperke happily joined me to test a brand new vintage lens I got my hands on, the Super-Takumar 50mm 1.4 lens from Japan. All photos were shot wide open, except for the 4th one. The haloing effect at f/1.4 is clearly noticeable in between the otherwise sharp edges, which gives this lens a very unique rendering wide open.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
