---
layout: layouts/gallery.html
date: 2023-03-01
title: Eszter
translation: eszter-4
tags: [portraiture, solo, female, urban, vintage-lens]
intro: Eszter joined me on a sunny winter day to test drive a bunch of vintage lenses, including my Sonnar 135mm, the old Helios 44-2 and the Tessar 50mm. As it turned out, this was Eszter's very first photoshoot, which I always hold in high esteem, as I want everyone's first time to be wonderful.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-landscape.html", id: '07' %}
