---
layout: layouts/gallery.html
date: 2023-02-13
title: Gabi
translation: gabi
tags: [portraiture, solo, female, nature, thematic]
cover: '06'
intro: This has been an amazing collaboration that I'm super proud to ba a part of. The viking princess dress was kindly provided by Maszka Jelmez, and the beautiful make-up was crafted by the talented Nóri Glam Makeup. And finally, a huge shout-out to my wonderful model, Gabi, who has gallantly coped with the cold weather throughout the shoot!
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
