---
layout: layouts/gallery.html
date: 2022-09-11
title: Jázmin in Wonderland
translation: jazmin
tags: [portraiture, people, solo, female, nature, vintage-lens]
cover: '05'
intro: We had a very challenging photoshoot with Jázmin at Hárshegy, at which I only shot with my 50-year-old vintage lenses. Most of the shots were taken with the Helios 44M-4 and 44-2 soviet lenses, and we've also shot some photos with the Carl Zeiss Jena Tessar 50mm glass. The swirly background bokeh gives a very interesting, Wonderland-like feel to the photos.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
