---
layout: layouts/gallery.html
date: 2023-02-28
title: Kata
translation: kata-2
tags: [portraiture, solo, female, urban, vintage-lens]
cover: '06'
intro: Katával nagyszerű hangulatú filems objektíves fotózást tudhatunk amgunk mögött. Végül csak kétféle öreg obit váltogattam a fotózás alatt, de nagyszerű képeket sikerült készítenünk.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-landscape.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-landscape.html", id: '07' %}
