---
layout: layouts/gallery.html
date: 2023-07-03
title: LaRae Day × Deiji Design
translation: larae-deiji
tags: [portraiture, female, urban, fashion]
cover: '05'
intro: 'Some of these photos were featured in Fashion Mannuscript magazine, September 2023. <a href="https://issuu.com/mannpublicationsmagazines/docs/digital_magazine_e4bf1199c43348/48" target="_blank" rel="noopener noreferrer">Check them out here.</a>'
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
