---
layout: layouts/gallery.html
date: 2023-06-15
title: Muskan 🎞️
translation: muskan
tags: [portraiture, solo, female, urban, film]
intro: This has been my 3rd analog portrait shoot, and Muskan's first portrait shoot overall. So many good vibes on this shoot, I'm so grateul for the experience! Shot on Kodak UltraMax 400 film with my 1976 Zenit E camera, using the Super-Takumar 50mm f/1.4 and Helios 44-2 lenses.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-landscape.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-landscape.html", id: '05' %}
{% include "partials/gallery-photo-portrait.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-landscape.html", id: '08' %}
{% include "partials/gallery-photo-portrait.html", id: '09' %}
{% include "partials/gallery-photo-portrait.html", id: '10' %}
{% include "partials/gallery-photo-landscape.html", id: '11' %}
{% include "partials/gallery-photo-landscape.html", id: '12' %}
