---
layout: layouts/gallery.html
date: 2024-03-10
title: My Grandparents
translation: papa-mama
tags: [portraiture, family/couples, nature]
intro: These are my wonderful grandparents, who have been married for over 60 years and who I owe a lot to. I had the pleasure of photographing them on a calm spring afternoon. This set means a lot to me and my family, as it's important to keep memories of your loved ones.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
