---
layout: layouts/gallery.html
date: 2024-05-28
title: Réka & Ádám
translation: reka-adam-2
tags: [portraiture, family/couples]
intro: I was able to photograph some beautiful couples on the Gróf Széchenyi cruise ship, when I was shooting for the company in charge of operating the ship. This is Réka and Ádám.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
