---
layout: layouts/gallery.html
date: 2024-04-06
title: Szilvi & Laci Wedding
translation: szilvi-laci-2
tags: [portraiture, family/couples, nature, wedding]
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-landscape.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-portrait.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
