---
layout: layouts/gallery.html
date: 2023-06-05
title: Tatum & Péter 🎞️
translation: tatum-peter
tags: [portraiture, family/couples, urban, film]
intro: The lovely Tatum and Péter were the first subjects of my first ever film portrait shoot. Having just 36 frames to work with has been both challenging and loads of fun, and the anticipation of waiting for our photos to get developed was an amazing experience.
---

{% include "partials/gallery-photo-landscape.html", id: '01' %}
{% include "partials/gallery-photo-landscape.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
{% include "partials/gallery-photo-landscape.html", id: '05' %}
{% include "partials/gallery-photo-landscape.html", id: '06' %}
{% include "partials/gallery-photo-portrait.html", id: '07' %}
{% include "partials/gallery-photo-portrait.html", id: '08' %}
{% include "partials/gallery-photo-landscape.html", id: '09' %}
{% include "partials/gallery-photo-landscape.html", id: '10' %}
{% include "partials/gallery-photo-landscape.html", id: '11' %}
{% include "partials/gallery-photo-landscape.html", id: '12' %}
