---
layout: layouts/gallery.html
date: 2024-05-28
title: Viki & Virág
translation: viki-virag-2
tags: [portraiture, family/couples]
intro: I was able to photograph some beautiful couples on the Gróf Széchenyi cruise ship, when I was shooting for the company in charge of operating the ship. This is Viki and Virág, who are not a couple, but are nonetheless beautiful.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
{% include "partials/gallery-photo-portrait.html", id: '04' %}
