---
layout: layouts/gallery.html
date: 2024-09-18
title: Zdenek
translation: zdenek
imNotPhotogenic: true
tags: [portraiture, solo, male, urban, headshots]
intro: This has been a "Photogenic Discovery" experience, where we photographed for just 30 minutes and my client received a total of 3 images, while learning the basics of posing and looking good on camera. If this sounds interesting to you, you can <a href="/en/services/portrait-photo-walks/">get started here</a>.
---

{% include "partials/gallery-photo-portrait.html", id: '01' %}
{% include "partials/gallery-photo-portrait.html", id: '02' %}
{% include "partials/gallery-photo-portrait.html", id: '03' %}
