---
layout: layouts/base.html
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /{{ locale }}/tags/{{ tag }}/
translation: tagsHu
---

<main class="main">
	{% if page.url == "/en/tags/all/" %}
		<header class="page-header">
			<span class="page-header__category">Tags</span>
			<h1 class="page-header__title">All Tags</h1>
		</header>
		<ul class="tags">
			{% for tag in collections.tagList %}
				<li class="tag">
					<a class="tag__link" href="/{{ locale }}/tags/{{ tag }}/">{{ tag }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<header class="page-header">
			<span class="page-header__category">Tagged</span>
			<h1 class="page-header__title">{{ tag | capitalize }}</h1>
		</header>
		<div class="gallery">
			{% assign tagsies = collections[tag] %}
			{% for post in tagsies reversed %}
				{% assign slug = post.data.page.filePathStem | split: '/' %}
				<a class="polaroids" href="{{ post.url }}">
					<figure class="polaroid">
						<div class="polaroid__square">
							<img class="polaroid__photo" src="/assets/images/{{ slug[2] }}/{{ post.data.page.fileSlug }}/01.jpg" alt="{{ post.data.title }}">
						</div>
						<figcaption class="polaroid__caption">
							<strong class="polaroid__title">{{ post.data.title }}</strong>
						</figcaption>
					</figure>
				</a>
			{% endfor %}
		</div>
	{% endif %}
</main>
