<div class="testimonials">
	{% assign source = testimonials.items %}
	{% for item in source limit:3 %}
		{% include "partials/testimonial-excerpt.html", id: forloop.index0 %}
	{% endfor %}
</div>

<div class="button-with-link">
	<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/">{{ site[locale].homepageButton }}</a>
	<a class="button-with-link__link" href="/{{ locale }}/{{ site[locale].slugTestimonials }}/">{{ site[locale].homepageVisitTestimonials }} ({{ testimonials.items.length }})</a>
</div>
