{% assign source = testimonials.items | where: "type", type %}

<div class="cta">
	{% if count == "all" %}
		<div class="testimonials">
			{% for item in source %}
			{% include "partials/testimonial.html", type: "excerpt", id: forloop.index0 %}
			{% endfor %}
		</div>
	{% elsif count > 1 %}
		<div class="testimonials">
			{% for item in source limit:count %}
			{% include "partials/testimonial.html", type: "excerpt", id: forloop.index0 %}
			{% endfor %}
		</div>
	{% else %}
		{% include "partials/testimonial.html", type: "excerpt", id: id | default: 0 %}
	{% endif %}
	<div class="cta__content">
		<h2 class="cta__title">{{ site[locale].ctaTitle }}</h2>
		<p class="cta__text">{{ site[locale].ctaText }}</p>
		<a class="button" href="/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/">{{ site[locale].ctaButton }}</a>
	</div>
</div>
