<header class="header">
	<div class="header__container container">
		<a class="logo" href="/{{ locale }}/" title="{{ site[locale].backToHomepage }}">
			<strong class="logo__name">{{ site[locale].headerName }}</strong>
			<span class="logo__tagline">{{ site[locale].headerDescription }}</span>
		</a>
		<nav id="main-menu" class="nav nav--header">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugAboutAbout }}/">{{ site[locale].navAboutMain }}</a>
					<ul class="nav__dropdown">
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugAboutAbout }}/"><i class="nav__icon fas fa-fw fa-hand"></i> {{ site[locale].navAboutAbout }}</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugAboutTestimonials }}/"><i class="nav__icon fas fa-fw fa-comment"></i> {{ site[locale].navAboutTestimonials }}</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugAboutGear }}/"><i class="nav__icon fas fa-fw fa-camera"></i> {{ site[locale].navAboutGear }}</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugAboutContact }}/"><i class="nav__icon fas fa-fw fa-phone"></i> {{ site[locale].navAboutContact }}</a>
						</li>
					</ul>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/">{{ site[locale].navServicesMain }}</a>
					<ul class="nav__dropdown">
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesPortraiture }}/"><i class="nav__icon fas fa-fw fa-user-group"></i> {{ site[locale].navServicesPortraiture }}</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesAutomotive }}/"><i class="nav__icon fas fa-fw fa-car-side"></i> {{ site[locale].navServicesAutomotive }}</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugServicesMain }}/{{ site[locale].slugServicesSocialContent }}/"><i class="nav__icon fas fa-fw fa-thumbs-up"></i> {{ site[locale].navServicesSocialContent }}</a>
						</li>
					</ul>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugPortfolioPortraiture }}/"> {{ site[locale].navPortfolioMain }}</a>
					<ul class="nav__dropdown">
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugPortfolioPortraiture }}/"><i class="nav__icon fas fa-fw fa-user-group"></i> {{ site[locale].navPortfolioPortraiture }}</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugPortfolioAutomotive }}/"><i class="nav__icon fas fa-fw fa-car-side"></i> {{ site[locale].navPortfolioAutomotive }}</a>
						</li>
					</ul>
				</li>
				<li class="nav__item">
					<span class="nav__link">{{ site[locale].navProjectsMain }}</span>
					<ul class="nav__dropdown">
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugProjectsBudapestPhotoWalk }}/"><i class="nav__icon fas fa-fw fa-person-walking"></i> {{ site[locale].navProjectsBudapestPhotoWalk }}</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="/{{ locale }}/{{ site[locale].slugProjectsBlog }}/"><i class="nav__icon fas fa-fw fa-pen-nib"></i> {{ site[locale].navProjectsBlog }}</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<nav class="lang">
			<ul class="lang__list">
				{%- for lang in site.languages -%}
					{%- assign translated = "/" | append: lang.code | append: "/" -%}
					{%- for item in collections.all -%}
						{%- if item.data.translation == translation and item.data.locale == lang.code -%}
							{%- assign translated = item.url -%}
						{%- endif -%}
					{%- endfor %}
					<li class="lang__item">
						<a class="lang__link{% if lang.code == locale %} lang__link--active{% endif %}" href="{{ translated }}">
							<span title="{{ lang.label }}">{{ lang.code }}</span>
						</a>
					</li>
				{%- endfor %}
			</ul>
		</nav>
		<a id="menu-toggle" class="menu-toggle" href="#" title="{{ site[locale].toggleNavigation }}" onclick="toggleMainMenu()">☰</a>
	</div>
</header>
