<a class="brick">
	<img class="brick__photo"
		 loading="{{ loading | default: 'lazy' }}"
		 srcset="
			/assets/images/portraiture/{{ name }}/{{ id }}_1400.webp 1400w,
			/assets/images/portraiture/{{ name }}/{{ id }}_700.webp 700w,
		 	/assets/images/portraiture/{{ name }}/{{ id }}_500.webp 500w,
		 	/assets/images/portraiture/{{ name }}/{{ id }}_350.webp 350w,
		 	/assets/images/portraiture/{{ name }}/{{ id }}_200.webp 200w
		 "
		 sizes="(min-width: 1500px) 400px, (min-width: 1000px) calc(25vw - 20px), (min-width: 480px) calc(50vw - 32px), calc(100vw - 32px)"
		 src="/assets/images/portraiture/{{ name }}/{{ id }}_200.webp"
		 data-src="/assets/images/portraiture/{{ name }}/{{ id }}_1400.webp"
		 alt="Portfolio image of Roland Szabó Photography"
		 width="750"
		 height="500">
</a>
