<link rel="stylesheet" href="/assets/css/lightbox.css">
<script src="/assets/js/lightbox.js" defer></script>

<aside class="lightbox">
	<div class="lightbox__container">
		<figure class="lightbox__figure">
			<img class="lightbox__image" src="" alt="">
			<figcaption class="lightbox__caption"></figcaption>
		</figure>
		<nav class="lightbox__nav">
			<a class="lightbox__arrow" id="left" href="#" title="{{ site[locale].lightboxPreviousPhoto }}"><i class="fas fa-caret-left"></i></a>
			<a class="lightbox__arrow" id="right" href="#" title="{{ site[locale].lightboxNextPhoto }}"><i class="fas fa-caret-right"></i></a>
		</nav>
	</div>
	<a class="lightbox__close" href="#" title="{{ site[locale].lightboxClose }}"><i class="fas fa-xmark"></i></a>
</aside>
