<div class="photo-grid">
	<img src="/assets/images/testimonials/adam.webp" alt="Ádám" title="Ádám" width="100" height="100">
	<img src="/assets/images/testimonials/aiganysh.webp" alt="Aiganysh" title="Aiganysh" width="100" height="100">
	<img src="/assets/images/testimonials/alejandro-ana.webp" alt="Alejandro & Ana" title="Alejandro & Ana" width="100" height="100">
	<img src="/assets/images/testimonials/altjin-baysa.webp" alt="Altjin & Baysa" title="Altjin & Baysa" width="100" height="100">
	<img src="/assets/images/testimonials/anna.webp" alt="Anna" title="Anna" width="100" height="100">
	<img src="/assets/images/testimonials/anna-2.webp" alt="Anna" title="Anna" width="100" height="100">
	<img src="/assets/images/testimonials/anna-3.webp" alt="Anna" title="Anna" width="100" height="100">
	<img src="/assets/images/testimonials/balazs.webp" alt="Balázs" title="Balázs" width="100" height="100">
	<img src="/assets/images/testimonials/betti-laci.webp" alt="Betti & Laci" title="Betti & Laci" width="100" height="100">
	<img src="/assets/images/testimonials/blanka.webp" alt="Blanka" title="Blanka" width="100" height="100">
	<img src="/assets/images/testimonials/burcu-sebastian.webp" alt="Burcu & Sebastian" title="Burcu & Sebastian" width="100" height="100">
	<img src="/assets/images/testimonials/cinta-jorge.webp" alt="Cinta & Jorge" title="Cinta & Jorge" width="100" height="100">
	<img src="/assets/images/testimonials/cinti.webp" alt="Cinti" title="Cinti" width="100" height="100">
	<img src="/assets/images/testimonials/detti.webp" alt="Detti" title="Detti" width="100" height="100">
	<img src="/assets/images/testimonials/dori.webp" alt="Dóri" title="Dóri" width="100" height="100">
	<img src="/assets/images/testimonials/eszter.webp" alt="Eszter" title="Eszter" width="100" height="100">
	<img src="/assets/images/testimonials/eszter-2.webp" alt="Eszter" title="Eszter" width="100" height="100">
	<img src="/assets/images/testimonials/eszter-3.webp" alt="Eszter" title="Eszter" width="100" height="100">
	<img src="/assets/images/testimonials/gabcsi.webp" alt="Gabcsi" title="Gabcsi" width="100" height="100">
	<img src="/assets/images/testimonials/gabor.webp" alt="Gábor" title="Gábor" width="100" height="100">
	<img src="/assets/images/testimonials/greti.webp" alt="Gréti" title="Gréti" width="100" height="100">
	<img src="/assets/images/testimonials/gyuri.webp" alt="Gyuri" title="Gyuri" width="100" height="100">
	<img src="/assets/images/testimonials/iulia-radu.webp" alt="Iulia & Radu" title="Iulia & Radu" width="100" height="100">
	<img src="/assets/images/testimonials/jackeline-andre.webp" alt="Jackie & André" title="Jackie & André" width="100" height="100">
	<img src="/assets/images/testimonials/kata.webp" alt="Kata" title="Kata" width="100" height="100">
	<img src="/assets/images/testimonials/jazmin.webp" alt="Jázmin" title="Jázmin" width="100" height="100">
	<img src="/assets/images/testimonials/kata-mira.webp" alt="Kata" title="Kata" width="100" height="100">
	<img src="/assets/images/testimonials/kincso.webp" alt="Kincső" title="Kincső" width="100" height="100">
	<img src="/assets/images/testimonials/klemi-adam.webp" alt="Klemi & Ádám" title="Klemi & Ádám" width="100" height="100">
	<img src="/assets/images/testimonials/lacko.webp" alt="Lackó" title="Lackó" width="100" height="100">
	<img src="/assets/images/testimonials/laura.webp" alt="Laura" title="Laura" width="100" height="100">
	<img src="/assets/images/testimonials/laura-2.webp" alt="Laura" title="Laura" width="100" height="100">
	<img src="/assets/images/testimonials/lilla.webp" alt="Lilla" title="Lilla" width="100" height="100">
	<img src="/assets/images/testimonials/luca-david.webp" alt="Luca & Dávid" title="Luca & Dávid" width="100" height="100">
	<img src="/assets/images/testimonials/mate.webp" alt="Máté" title="Máté" width="100" height="100">
	<img src="/assets/images/testimonials/mate-2.webp" alt="Máté" title="Máté" width="100" height="100">
	<img src="/assets/images/testimonials/melanie.webp" alt="Mel" title="Mel" width="100" height="100">
	<img src="/assets/images/testimonials/mici.webp" alt="Mici" title="Mici" width="100" height="100">
	<img src="/assets/images/testimonials/muskan.webp" alt="Muskan" title="Muskan" width="100" height="100">
	<img src="/assets/images/testimonials/nori.webp" alt="Nóri" title="Nóri" width="100" height="100">
	<img src="/assets/images/testimonials/reka.webp" alt="Réka" title="Réka" width="100" height="100">
	<img src="/assets/images/testimonials/rikarda-krisztian.webp" alt="Riki & Krisztián" title="Riki & Krisztián" width="100" height="100">
	<img src="/assets/images/testimonials/saci.webp" alt="Saci" title="Saci" width="100" height="100">
	<img src="/assets/images/testimonials/sara.webp" alt="Sara" title="Sara" width="100" height="100">
	<img src="/assets/images/testimonials/szilvi-laci.webp" alt="Szilvi & Laci" title="Szilvi & Laci" width="100" height="100">
	<img src="/assets/images/testimonials/tatum.webp" alt="Tatum" title="Tatum" width="100" height="100">
	<img src="/assets/images/testimonials/verka.webp" alt="Veronika" title="Veronika" width="100" height="100">
	<img src="/assets/images/testimonials/viktoria.webp" alt="Viktória" title="Viktória" width="100" height="100">
	<img src="/assets/images/testimonials/zsuzsika-gyuri.webp" alt="Zsuzsika & Gyuri" title="Zsuzsika & Gyuri" width="100" height="100">
</div>
