<div class="vintage-promo">
	<a class="vintage-promo__image-link" href="{{ site[locale].vintagePromoLink }}">
		<img class="vintage-promo__image" src="/assets/images/portraiture/jazmin/03_700.webp" alt="{{ site[locale].vintagePromoImageAlt }}" title="{{ site[locale].vintagePromoImageAlt }}">
	</a>
	<div class="vintage-promo__text">
		<h2 class="vintage-promo__title">{{ site[locale].vintagePromoTitle }}</h2>
		<p>{{ site[locale].vintagePromoText }}</p>
		<a class="button" href="{{ site[locale].vintagePromoLink }}">{{ site[locale].vintagePromoButton }}</a>
	</div>
</div>
