---
layout: layouts/base.html
title: Portré Fotózás Budapesten
permalink: "/{{ locale }}/{{ site[locale].slugServices }}/{{ site[locale].slugServicesPortraiture }}/"
translation: photo-walks
css: photo-walks
---

<main class="main">
	<section class="section section--top">
		<div class="container">
			<header class="page-header">
				<h1 class="page-header__category">{{ site[locale].navServicesPortraiture }}</h1>
				<p class="page-header__title h1">Ha úgy gondolod, hogy nem vagy fotogén, akkor bebizonyítom, hogy tévedsz.</p>
			</header>
			<div class="half">
				<div>
					<p>Az, hogy "nem vagy fotogén", egyszerűen annyit tesz, hogy még senki sem örökítette meg az igazi szépségedet egy fényképen. Ez ma megváltozik.</p>
					<p>Roland vagyok, a budapesti portréfotósod. Empatikus személyiségemről és <del>szar</del> <ins>egyedülálló</ins> humorérzékemről vagyok ismert. Laza, nyugodt hangulatú budapesti fotózásokon keresztül segítek, hogy legyőzd a fényképezőgéppel kapcsolatos szorongásodat, olyan őszinte fotók készítésével, amelyekért garantáltan rajongani fogsz.</p>
					<p>Bizonytalan vagy a pózolással kapcsolatban? Nem tudod, hova helyezd a kezed, vagy hogyan nézz ki a legjobban a kamera előtt? Aggodalomra semmi ok, hozzáértő kezekben vagy. Készen állok, hogy bebizonyítsam, hogy valóban fotogén vagy!</p>
					<p><a class="button" href="#elmenyek"><i class="fas fa-fw fa-circle-down"></i>&nbsp; Készen Állok</a></p>
				</div>
				<div class="polaroid">
					<img class="polaroid__photo" src="/assets/images/portraiture/blanka-3/04_1400.webp" alt="{{ site[locale].navServicesPortraiture }}">
				</div>
			</div>
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% assign source = testimonials.items %}
				{% include "partials/testimonial-excerpt.html", id: 0 %}
				{% include "partials/testimonial-excerpt.html", id: 1 %}
				{% include "partials/testimonial-excerpt.html", id: 2 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="mt-0 mb-2">Ideje újragondolni, hogy mit jelent fotogénnek lenni</h2>
			<figure class="floating-photo floating-photo--left">
				<img class="floating-photo__photo" src="/assets/images/bts-9.webp" alt="{{ site[locale].navServicesPortraiture }}" width="750" height="500">
				<figcaption class="floating-photo__caption"><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/gaborfotoz/" target="_blank" rel="noopener noreferrer">{{ site[locale].gaborTomor }}</a></em></figcaption>
			</figure>
			<p>Nemtől, mérettől és kortól függetlenül hiszem, hogy minden emberben megtalálható a szépség. Az a célom, hogy ezt megmutassam Neked, és olyan képeket készítsek Rólad, ahogyan még soha nem láttad Magad.</p>
			<p>Felejtsd el a kínos pózokat és az erőltetett mosolyokat. Laza szemléletemmel és empatikus személyiségemmel azon dolgozom, hogy mindenki jól érezze magát a kamerám előtt. Együtt olyan hiteles portrékat készítünk, amelyeket örökké imádni fogsz.</p>
			<p>Nem kell modellnek lenned ahhoz, hogy hihetetlenül jól nézz ki a fényképeken. Akár Budapest utcáin szeretnél sétálni, akár a természet nyugalmában, minden fotón igyekszem megragadni az igazi énedet.</p>
			<p>Készen állsz arra, hogy megcáfold a kételyeidet? Foglalj időpontot még ma, és ismerd meg a hiteles fotózás örömét. Én készen állok. És Te?</p>
			<p><a class="button" href="#elmenyek"><i class="fas fa-fw fa-circle-down"></i>&nbsp; Irány az Átalakulás</a></p>
			<hr>
			{% assign category = faq.delivery %}
			{% include "partials/faq.html" %}
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% include "partials/testimonial-excerpt.html", id: 3 %}
				{% include "partials/testimonial-excerpt.html", id: 4 %}
				{% include "partials/testimonial-excerpt.html", id: 5 %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="half">
				<div>
					<h2 class="mt-0 mb-2">Ők sem voltak profi modellek</h2>
					<p>Mielőtt a fényképezőgépem elé álltak volna, sok vendégem kételkedett a bennük rejlő potenciálban. A közös munkának köszönhetően azonban sikerült felfedezniük egy nagyon fontos dolgot: az igazi szépségüket.</p>
					<p>Lehet, hogy hozzájuk hasonlóan Te is kételkedsz magadban. Aggodalomra semmi ok; én azért vagyok itt, hogy megmutassam Neked, hogy igenis fotogén vagy, és hogy Rólad is tudok nagyszerű fotókat készíteni.</p>
					<p><a class="button mt-2" href="#elmenyek"><i class="fas fa-fw fa-circle-down"></i>&nbsp; Fedezd Fel a Fotogén Énedet</a></p>
				</div>
				<div class="photo-grid">
					<img src="/assets/images/testimonials/adam.webp" alt="Ádám" title="Ádám">
					<img src="/assets/images/testimonials/aiganysh.webp" alt="Aiganysh" title="Aiganysh">
					<img src="/assets/images/testimonials/alejandro-ana.webp" alt="Alejandro & Ana" title="Alejandro & Ana">
					<img src="/assets/images/testimonials/altjin-baysa.webp" alt="Altjin & Baysa" title="Altjin & Baysa">
					<img src="/assets/images/testimonials/anna.webp" alt="Anna" title="Anna">
					<img src="/assets/images/testimonials/anna-2.webp" alt="Anna" title="Anna">
					<img src="/assets/images/testimonials/anna-3.webp" alt="Anna" title="Anna">
					<img src="/assets/images/testimonials/balazs.webp" alt="Balázs" title="Balázs">
					<img src="/assets/images/testimonials/betti-laci.webp" alt="Betti & Laci" title="Betti & Laci">
					<img src="/assets/images/testimonials/blanka.webp" alt="Blanka" title="Blanka">
					<img src="/assets/images/testimonials/burcu-sebastian.webp" alt="Burcu & Sebastian" title="Burcu & Sebastian">
					<img src="/assets/images/testimonials/cinta-jorge.webp" alt="Cinta & Jorge" title="Cinta & Jorge">
					<img src="/assets/images/testimonials/cinti.webp" alt="Cinti" title="Cinti">
					<img src="/assets/images/testimonials/detti.webp" alt="Detti" title="Detti">
					<img src="/assets/images/testimonials/dori.webp" alt="Dóri" title="Dóri">
					<img src="/assets/images/testimonials/eszter.webp" alt="Eszter" title="Eszter">
					<img src="/assets/images/testimonials/eszter-2.webp" alt="Eszter" title="Eszter">
					<img src="/assets/images/testimonials/eszter-3.webp" alt="Eszter" title="Eszter">
					<img src="/assets/images/testimonials/gabcsi.webp" alt="Gabcsi" title="Gabcsi">
					<img src="/assets/images/testimonials/gabor.webp" alt="Gábor" title="Gábor">
					<img src="/assets/images/testimonials/greti.webp" alt="Gréti" title="Gréti">
					<img src="/assets/images/testimonials/gyuri.webp" alt="Gyuri" title="Gyuri">
					<img src="/assets/images/testimonials/iulia-radu.webp" alt="Iulia & Radu" title="Iulia & Radu">
					<img src="/assets/images/testimonials/jackeline-andre.webp" alt="Jackie & André" title="Jackie & André">
					<img src="/assets/images/testimonials/kata.webp" alt="Kata" title="Kata">
					<img src="/assets/images/testimonials/jazmin.webp" alt="Jázmin" title="Jázmin">
					<img src="/assets/images/testimonials/kata-mira.webp" alt="Kata" title="Kata">
					<img src="/assets/images/testimonials/kincso.webp" alt="Kincső" title="Kincső">
					<img src="/assets/images/testimonials/klemi-adam.webp" alt="Klemi & Ádám" title="Klemi & Ádám">
					<img src="/assets/images/testimonials/lacko.webp" alt="Lackó" title="Lackó">
					<img src="/assets/images/testimonials/laura.webp" alt="Laura" title="Laura">
					<img src="/assets/images/testimonials/laura-2.webp" alt="Laura" title="Laura">
					<img src="/assets/images/testimonials/lilla.webp" alt="Lilla" title="Lilla">
					<img src="/assets/images/testimonials/luca-david.webp" alt="Luca & Dávid" title="Luca & Dávid">
					<img src="/assets/images/testimonials/mate.webp" alt="Máté" title="Máté">
					<img src="/assets/images/testimonials/mate-2.webp" alt="Máté" title="Máté">
					<img src="/assets/images/testimonials/melanie.webp" alt="Mel" title="Mel">
					<img src="/assets/images/testimonials/mici.webp" alt="Mici" title="Mici">
					<img src="/assets/images/testimonials/muskan.webp" alt="Muskan" title="Muskan">
					<img src="/assets/images/testimonials/nori.webp" alt="Nóri" title="Nóri">
					<img src="/assets/images/testimonials/reka.webp" alt="Réka" title="Réka">
					<img src="/assets/images/testimonials/rikarda-krisztian.webp" alt="Riki & Krisztián" title="Riki & Krisztián">
					<img src="/assets/images/testimonials/saci.webp" alt="Saci" title="Saci">
					<img src="/assets/images/testimonials/sara.webp" alt="Sara" title="Sara">
					<img src="/assets/images/testimonials/szilvi-laci.webp" alt="Szilvi & Laci" title="Szilvi & Laci">
					<img src="/assets/images/testimonials/tatum.webp" alt="Tatum" title="Tatum">
					<img src="/assets/images/testimonials/verka.webp" alt="Veronika" title="Veronika">
					<img src="/assets/images/testimonials/viktoria.webp" alt="Viktória" title="Viktória">
					<img src="/assets/images/testimonials/zsuzsika-gyuri.webp" alt="Zsuzsika & Gyuri" title="Zsuzsika & Gyuri">
				</div>
			</div>
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% include "partials/testimonial-excerpt.html", id: 6 %}
				{% include "partials/testimonial-excerpt.html", id: 7 %}
				{% include "partials/testimonial-excerpt.html", id: 8 %}
			</div>
		</div>
	</section>

	<section class="section" id="elmenyek">
		<div class="container">
			<h2 class="h1 mt-0 mb-2 text-center">Élmények</h2>
			<ul class="plans">
				<li class="plan">
					<h3 class="plan__title">"Nem Vagyok Fotogén"</h3>
					<p>Gyors de meghatározó élmény, ahol bebizonyítom, hogy igenis fotogén vagy. Csak új vendégek részére.</p>
					<p class="plan__price">
						<strong class="plan__price-amount">10.000 <small class="small">HUF</small></strong>
					</p>
					<ul>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; <strong>3 db</strong> retusált fotót kapsz</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; Akár 30 perc fotózás</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; 1 helyszín</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; 1 ruha</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; Végleges képek 1-3 napon belül</li>
					</ul>
				</li>
				<li class="plan">
					<h3 class="plan__title">A Teljes Élmény</h3>
					<p>Gyere el egy laza hangulatú, kötetlen portréfotózásra, ahol bőven van időnk sétálni, beszélgetni és fotózni. Éld át Te is az élményt, amiről mindenki beszél!</p>
					<p class="plan__price">
						<span class="plan__price-starts">Induló ár</span>
						<strong class="plan__price-amount">25.000 <small class="small">HUF</small></strong>
					</p>
					<ul>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; <strong>10 db</strong> resutált fotót kapsz, amit Te választhatsz ki</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; Kötetlen idejű fotózás</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; 2 helyszín</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; 2 ruha</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; Végleges képek 1-5 napon belül</li>
						<li><i class="fa-solid fa-circle-plus text-highlight"></i>&nbsp; Még a fotózás napján Neked ajándékozok 1 db általam választott fotót szerkesztve, retusálva</li>
						<li><i class="fa-solid fa-circle-plus text-highlight"></i>&nbsp; A 10 képen felül bármennyi fotót kérhetsz mindössze 1.000 HUF darabáron</li>
					</ul>
				</li>
				<li class="plan">
					<h3 class="plan__title">Tündérmese Fantázia</h3>
					<p>Legyél a saját tündérmeséd főszereplője! Élj át velünk egy varázslatos átalakulást, ahol a profi sminkeddel és a mesebeli jelmezeddel az lehetsz, aki csak akarsz, magazinba illő fotókkal megkoronázva.</p>
					<p class="plan__price">
						<span class="plan__price-starts">Induló ár</span>
						<strong class="plan__price-amount">45.000 <small class="small">HUF</small></strong>
					</p>
					<ul>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; <strong>20 db</strong> resutált fotót kapsz, amit Te választhatsz ki</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; Kötetlen idejű fotózás</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; 3 helyszín</li>
						<li><i class="fa-solid fa-check-circle text-highlight"></i>&nbsp; Végleges képek 1-7 napon belül</li>
						<li><i class="fa-solid fa-circle-plus text-highlight"></i>&nbsp; Még a fotózás napján Neked ajándékozok 1 db általam választott fotót szerkesztve, retusálva</li>
						<li><i class="fa-solid fa-circle-plus text-highlight"></i>&nbsp; A 20 képen felül bármennyi fotót kérhetsz mindössze 1.000 HUF darabáron</li>
						<li><i class="fa-solid fa-circle-plus text-highlight"></i>&nbsp; Az élmény tartalmaz egy általad választott, professzionális sminket</li>
						<li><i class="fa-solid fa-circle-plus text-highlight"></i>&nbsp; Az élmény tartalmazza egy általad választott jelmez bérlését is (opcionális)</li>
					</ul>
				</li>
			</ul>
			<figure class="floating-photo floating-photo--left">
				<img class="floating-photo__photo" src="/assets/images/bts-10.webp" alt="{{ site[locale].navServicesPortraiture }}" width="750" height="500">
				<figcaption class="floating-photo__caption"><em>{{ site[locale].photoAndEditBy }} <a href="https://www.instagram.com/james.acs.tta/" target="_blank" rel="noopener noreferrer">{{ site[locale].csanadAlfoldi }}</a></em></figcaption>
			</figure>
			<p><strong>Fizetés:</strong> A végleges fotók kiválasztása után esedékes. Fizetési lehetőségek: banki átutalás vagy Revolut. Készpénzt nem fogadok el. Minden fotózásról számlát állítok ki.</p>
			<p><strong>Előleg:</strong> A normál fotózásoknál általában nincs előleg. Azonban a konkrét fotózás és annak körülményei alapján fenntartom a jogot, hogy előleget kérjek. Ez fedezi az autómegosztás díját vagy a fotózás egyedi szempontjaival kapcsolatos további kiadásokat. Biztosíthatlak, hogy minden ilyen kérést a fotózás előtt átláthatóan megbeszélünk és egyeztetünk.</p>
			<p><strong>Átadás:</strong> A szerkesztett, retusált fotókat a kifizetést követő 1-7 napon belül (az élményedtől függően), digitális formátumban adom át. Nyers képeket nem adok át.</p>
			<p><a class="button" href="https://instagram.com/rolandszabo.photo/"><i class="fas fa-fw fa-envelope"></i>&nbsp; Írj üzenetet a Kezdéshez</a></p>
			<hr>
			{% assign category = faq.pricing %}
			{% include "partials/faq.html" %}
		</div>
	</section>

	<section class="section section--white section--testimonials">
		<div class="container">
			<div class="testimonials">
				{% include "partials/testimonial-excerpt.html", id: 9 %}
				{% include "partials/testimonial-excerpt.html", id: 10 %}
				{% include "partials/testimonial-excerpt.html", id: 11 %}
			</div>
		</div>
	</section>
</main>

<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Product",
	"name": "Portré Fotózás",
	"image": "https://rolandszabo.photo/assets/images/portraiture/polina/04_700.webp",
	"description": "Laza, nyugodt hangulatú fotós séták során készítek maradandó emlékeket. A formátum lehet egyéni, páros vagy családi, de elhozhatod a kis kedvencedet vagy akár a hobbidat is!",
	"brand": {
		"@type": "Brand",
		"name": "Szabó Roland",
		"logo": "https://rolandszabo.photo/assets/images/logo.svg"
	},
	"offers": {
		"@type": "Offer",
		"availability": "https://schema.org/InStock",
		"price": "25.000",
		"priceCurrency": "HUF",
		"priceValidUntil": "2025-01-01"
	},
	"review": [
		{
			"@type": "Review",
			"author": {
				"@type": "Person",
				"name": "S. Klementina & L. Ádám"
			},
			"reviewBody": "A kezdeti bátortalanságot gyorsan feloldották Roland poénos és segítő “utasításai”"
		},
		{
			"@type": "Review",
			"author": {
				"@type": "Person",
				"name": "Sara T."
			},
			"reviewBody": "A fotózásunk első pillanattól kezdve kényelmesen és magabiztosnak éreztem magam a kamera előtt"
		},
		{
			"@type": "Review",
			"author": {
				"@type": "Person",
				"name": "M. Anna"
			},
			"reviewBody": "Roland humorával, odaadásával és a fotózás iránti szenvedélyével mindenki biztonságban, megbecsülve érezheti magát"
		}
	],
	"aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": 5.0,
		"reviewCount": 40
	}
}
</script>
